n8n-webhook-erpnext-stock-v2-buying-receipt-invoice-lock-test.workflow.json
[
  {
    "id": "stockBuyPrPiLockV2Test01",
    "name": "ERPNext Stock V2 Buying Receipt Invoice Lock Test",
    "active": false,
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "erpnext-stock-v2-buying-receipt-invoice-lock-test",
          "responseMode": "lastNode",
          "responseData": "allEntries",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [-1700, 0],
        "id": "buying-stock-lock-webhook",
        "name": "POST Webhook",
        "webhookId": "erpnext-stock-v2-buying-receipt-invoice-lock-test"
      },
      {
        "parameters": {
          "jsCode": "const now = new Date();\nconst today = now.toISOString().slice(0, 10);\nconst due = new Date(now.getTime() + 7 * 24 * 60 * 60 * 1000).toISOString().slice(0, 10);\nconst runId = `N8N-STOCK-BUY-LOCK-${Date.now()}`;\nreturn [{ json: { runId, company: 'Thái Duy Digital', parentWarehouse: 'All Warehouses - TDD', postingDate: today, dueDate: due, supplierName: `${runId} NCC linked PR`, itemGroup: `${runId} Nhóm mua`, warehouseName: `${runId} Buying Receipt WH`, itemCode: `${runId} Hàng mua tăng tồn`, qty: 3, rate: 72, accounts: { payable: '2110 - Creditors - TDD', expense: '5111 - Cost of Goods Sold - TDD' } } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [-1480, 0],
        "id": "build-buying-stock-lock-context",
        "name": "Build Buying Stock Lock Context"
      },
      {
        "parameters": {
          "resource": "supplier",
          "apiVersion": "v2",
          "operation": "create",
          "dataJson": "={{ JSON.stringify({ supplier_name: $node[\"Build Buying Stock Lock Context\"].json.supplierName, supplier_type: \"Company\", supplier_group: \"All Supplier Groups\" }) }}"
        },
        "type": "n8n-nodes-erpnext-buying.erpNextBuying",
        "typeVersion": 1,
        "position": [-1260, 0],
        "id": "create-buying-lock-supplier",
        "name": "Create Buying Lock Supplier",
        "credentials": { "erpNextApi": { "id": "9hFY985G0WpX5Xyt", "name": "ERPNext account" } }
      },
      {
        "parameters": {
          "resource": "itemGroup",
          "apiVersion": "v2",
          "operation": "create",
          "dataJson": "={{ JSON.stringify({ item_group_name: $node[\"Build Buying Stock Lock Context\"].json.itemGroup, parent_item_group: \"All Item Groups\", is_group: 0 }) }}"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [-1040, 0],
        "id": "create-buying-lock-item-group",
        "name": "Create Buying Lock Item Group",
        "credentials": { "erpNextApi": { "id": "9hFY985G0WpX5Xyt", "name": "ERPNext account" } }
      },
      {
        "parameters": {
          "resource": "warehouse",
          "apiVersion": "v2",
          "operation": "create",
          "dataJson": "={{ JSON.stringify({ warehouse_name: $node[\"Build Buying Stock Lock Context\"].json.warehouseName, parent_warehouse: $node[\"Build Buying Stock Lock Context\"].json.parentWarehouse, company: $node[\"Build Buying Stock Lock Context\"].json.company, is_group: 0 }) }}"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [-820, 0],
        "id": "create-buying-lock-warehouse",
        "name": "Create Buying Lock Warehouse",
        "credentials": { "erpNextApi": { "id": "9hFY985G0WpX5Xyt", "name": "ERPNext account" } }
      },
      {
        "parameters": {
          "resource": "item",
          "apiVersion": "v2",
          "operation": "create",
          "dataJson": "={{ JSON.stringify({ item_code: $node[\"Build Buying Stock Lock Context\"].json.itemCode, item_name: $node[\"Build Buying Stock Lock Context\"].json.itemCode, item_group: $node[\"Create Buying Lock Item Group\"].json.name, stock_uom: \"Unit\", is_stock_item: 1, is_purchase_item: 1, is_sales_item: 0, valuation_rate: $node[\"Build Buying Stock Lock Context\"].json.rate, standard_rate: $node[\"Build Buying Stock Lock Context\"].json.rate }) }}"
        },
        "type": "n8n-nodes-erpnext-buying.erpNextBuying",
        "typeVersion": 1,
        "position": [-600, 0],
        "id": "create-buying-lock-item",
        "name": "Create Buying Lock Item",
        "credentials": { "erpNextApi": { "id": "9hFY985G0WpX5Xyt", "name": "ERPNext account" } }
      },
      {
        "parameters": {
          "resource": "purchaseReceipt",
          "apiVersion": "v2",
          "operation": "create",
          "dataJson": "={{ JSON.stringify({ supplier: $node[\"Create Buying Lock Supplier\"].json.name, company: $node[\"Build Buying Stock Lock Context\"].json.company, posting_date: $node[\"Build Buying Stock Lock Context\"].json.postingDate, set_warehouse: $node[\"Create Buying Lock Warehouse\"].json.name, items: [{ item_code: $node[\"Create Buying Lock Item\"].json.name, qty: $node[\"Build Buying Stock Lock Context\"].json.qty, rate: $node[\"Build Buying Stock Lock Context\"].json.rate, warehouse: $node[\"Create Buying Lock Warehouse\"].json.name }] }) }}"
        },
        "type": "n8n-nodes-erpnext-buying.erpNextBuying",
        "typeVersion": 1,
        "position": [-380, 0],
        "id": "create-buying-purchase-receipt",
        "name": "Create Buying Purchase Receipt",
        "credentials": { "erpNextApi": { "id": "9hFY985G0WpX5Xyt", "name": "ERPNext account" } }
      },
      {
        "parameters": {
          "resource": "purchaseReceipt",
          "apiVersion": "v2",
          "operation": "submit",
          "documentName": "={{ $node[\"Create Buying Purchase Receipt\"].json.name }}"
        },
        "type": "n8n-nodes-erpnext-buying.erpNextBuying",
        "typeVersion": 1,
        "position": [-160, 0],
        "id": "submit-buying-purchase-receipt",
        "name": "Submit Buying Purchase Receipt",
        "credentials": { "erpNextApi": { "id": "9hFY985G0WpX5Xyt", "name": "ERPNext account" } }
      },
      {
        "parameters": {
          "resource": "bin",
          "apiVersion": "v2",
          "operation": "getMany",
          "fields": "name,item_code,warehouse,actual_qty,valuation_rate,stock_value",
          "filtersJson": "={{ JSON.stringify({ item_code: $node[\"Create Buying Lock Item\"].json.name, warehouse: $node[\"Create Buying Lock Warehouse\"].json.name }) }}",
          "limit": 10
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [60, 0],
        "id": "verify-buying-bin-after-receipt",
        "name": "Verify Buying Bin After Receipt",
        "credentials": { "erpNextApi": { "id": "9hFY985G0WpX5Xyt", "name": "ERPNext account" } }
      },
      {
        "parameters": {
          "resource": "stockLedgerEntry",
          "apiVersion": "v2",
          "operation": "getMany",
          "fields": "name,item_code,warehouse,actual_qty,qty_after_transaction,voucher_type,voucher_no,is_cancelled",
          "filtersJson": "={{ JSON.stringify({ voucher_type: \"Purchase Receipt\", voucher_no: $node[\"Create Buying Purchase Receipt\"].json.name }) }}",
          "limit": 20,
          "orderBy": "creation asc"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [280, 0],
        "id": "verify-buying-sle-after-receipt",
        "name": "Verify Buying SLE After Receipt",
        "credentials": { "erpNextApi": { "id": "9hFY985G0WpX5Xyt", "name": "ERPNext account" } }
      },
      {
        "parameters": {
          "resource": "purchaseReceipt",
          "apiVersion": "v2",
          "operation": "get",
          "documentName": "={{ $node[\"Create Buying Purchase Receipt\"].json.name }}"
        },
        "type": "n8n-nodes-erpnext-buying.erpNextBuying",
        "typeVersion": 1,
        "position": [500, 0],
        "id": "get-buying-purchase-receipt",
        "name": "Get Buying Purchase Receipt",
        "credentials": { "erpNextApi": { "id": "9hFY985G0WpX5Xyt", "name": "ERPNext account" } }
      },
      {
        "parameters": {
          "jsCode": "const ctx = $node['Build Buying Stock Lock Context'].json;\nconst pr = $node['Get Buying Purchase Receipt'].json;\nconst row = pr.items[0];\nreturn [{ json: { payload: { supplier: $node['Create Buying Lock Supplier'].json.name, company: ctx.company, posting_date: ctx.postingDate, due_date: ctx.dueDate, credit_to: ctx.accounts.payable, remarks: `${ctx.runId} purchase invoice linked to purchase receipt`, items: [{ item_code: row.item_code, qty: row.qty, rate: row.rate, expense_account: ctx.accounts.expense, purchase_receipt: pr.name, pr_detail: row.name }] } } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [720, 0],
        "id": "build-linked-purchase-invoice-payload",
        "name": "Build Linked Purchase Invoice Payload"
      },
      {
        "parameters": {
          "resource": "purchaseInvoice",
          "apiVersion": "v2",
          "operation": "create",
          "dataJson": "={{ JSON.stringify($json.payload) }}"
        },
        "type": "n8n-nodes-erpnext-accounting.erpNextAccounting",
        "typeVersion": 1,
        "position": [940, 0],
        "id": "create-linked-purchase-invoice",
        "name": "Create Linked Purchase Invoice",
        "credentials": { "erpNextApi": { "id": "9hFY985G0WpX5Xyt", "name": "ERPNext account" } }
      },
      {
        "parameters": {
          "resource": "purchaseInvoice",
          "apiVersion": "v2",
          "operation": "submit",
          "documentName": "={{ $node[\"Create Linked Purchase Invoice\"].json.name }}"
        },
        "type": "n8n-nodes-erpnext-accounting.erpNextAccounting",
        "typeVersion": 1,
        "position": [1160, 0],
        "id": "submit-linked-purchase-invoice",
        "name": "Submit Linked Purchase Invoice",
        "credentials": { "erpNextApi": { "id": "9hFY985G0WpX5Xyt", "name": "ERPNext account" } }
      },
      {
        "parameters": {
          "resource": "purchaseReceipt",
          "apiVersion": "v2",
          "operation": "cancel",
          "documentName": "={{ $node[\"Create Buying Purchase Receipt\"].json.name }}"
        },
        "type": "n8n-nodes-erpnext-buying.erpNextBuying",
        "typeVersion": 1,
        "position": [1380, 0],
        "id": "try-cancel-invoiced-purchase-receipt",
        "name": "Try Cancel Invoiced Purchase Receipt",
        "credentials": { "erpNextApi": { "id": "9hFY985G0WpX5Xyt", "name": "ERPNext account" } },
        "continueOnFail": true
      },
      {
        "parameters": {
          "resource": "purchaseReceipt",
          "apiVersion": "v2",
          "operation": "get",
          "documentName": "={{ $node[\"Create Buying Purchase Receipt\"].json.name }}"
        },
        "type": "n8n-nodes-erpnext-buying.erpNextBuying",
        "typeVersion": 1,
        "position": [1600, 0],
        "id": "get-purchase-receipt-after-cancel-attempt",
        "name": "Get Purchase Receipt After Cancel Attempt",
        "credentials": { "erpNextApi": { "id": "9hFY985G0WpX5Xyt", "name": "ERPNext account" } }
      },
      {
        "parameters": {
          "jsCode": "const ctx = $node['Build Buying Stock Lock Context'].json;\nconst binRows = $('Verify Buying Bin After Receipt').all().map(i => i.json);\nconst sleRows = $('Verify Buying SLE After Receipt').all().map(i => i.json);\nconst cancelRows = $('Try Cancel Invoiced Purchase Receipt').all().map(i => i.json);\nconst prAfter = $node['Get Purchase Receipt After Cancel Attempt'].json;\nconst invoice = $node['Submit Linked Purchase Invoice'].json;\nconst actualQty = Number(binRows[0]?.actual_qty ?? NaN);\nconst cancelFailed = cancelRows.some(row => row.error || row.message || row.httpCode || row.stack);\nconst text = JSON.stringify({ binRows, sleRows, invoice: { name: invoice.name, docstatus: invoice.docstatus, grand_total: invoice.grand_total }, cancelRows, prAfter: { name: prAfter.name, docstatus: prAfter.docstatus, per_billed: prAfter.per_billed } });\nconst securityFindings = ['api key', 'api_secret', 'authorization', 'token ', 'password'].filter(term => text.toLowerCase().includes(term));\nconst status = actualQty === ctx.qty && sleRows.length >= 1 && Number(invoice.docstatus) === 1 && Number(prAfter.docstatus) === 1 && cancelFailed && securityFindings.length === 0 ? 'passed' : 'failed';\nreturn [{ json: { status, runId: ctx.runId, supplier: $node['Create Buying Lock Supplier'].json.name, item: $node['Create Buying Lock Item'].json.name, warehouse: $node['Create Buying Lock Warehouse'].json.name, purchaseReceipt: $node['Create Buying Purchase Receipt'].json.name, purchaseReceiptDocstatusAfterCancelAttempt: prAfter.docstatus, purchaseReceiptPerBilled: prAfter.per_billed, purchaseInvoice: invoice.name, purchaseInvoiceDocstatus: invoice.docstatus, purchaseInvoiceGrandTotal: invoice.grand_total, binActualQtyAfterReceipt: actualQty, receiptLedgerRows: sleRows.length, receiptLedgerActualQty: sleRows.map(row => row.actual_qty), receiptLedgerQtyAfterTransaction: sleRows.map(row => row.qty_after_transaction), cancelFailedAsExpected: cancelFailed, cancelError: cancelRows.map(row => row.error || row.message || row.httpCode || 'no error captured'), securityFindings } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [1820, 0],
        "id": "return-safe-buying-stock-lock-summary",
        "name": "Return Safe Buying Stock Lock Summary"
      }
    ],
    "connections": {
      "POST Webhook": { "main": [[{ "node": "Build Buying Stock Lock Context", "type": "main", "index": 0 }]] },
      "Build Buying Stock Lock Context": { "main": [[{ "node": "Create Buying Lock Supplier", "type": "main", "index": 0 }]] },
      "Create Buying Lock Supplier": { "main": [[{ "node": "Create Buying Lock Item Group", "type": "main", "index": 0 }]] },
      "Create Buying Lock Item Group": { "main": [[{ "node": "Create Buying Lock Warehouse", "type": "main", "index": 0 }]] },
      "Create Buying Lock Warehouse": { "main": [[{ "node": "Create Buying Lock Item", "type": "main", "index": 0 }]] },
      "Create Buying Lock Item": { "main": [[{ "node": "Create Buying Purchase Receipt", "type": "main", "index": 0 }]] },
      "Create Buying Purchase Receipt": { "main": [[{ "node": "Submit Buying Purchase Receipt", "type": "main", "index": 0 }]] },
      "Submit Buying Purchase Receipt": { "main": [[{ "node": "Verify Buying Bin After Receipt", "type": "main", "index": 0 }]] },
      "Verify Buying Bin After Receipt": { "main": [[{ "node": "Verify Buying SLE After Receipt", "type": "main", "index": 0 }]] },
      "Verify Buying SLE After Receipt": { "main": [[{ "node": "Get Buying Purchase Receipt", "type": "main", "index": 0 }]] },
      "Get Buying Purchase Receipt": { "main": [[{ "node": "Build Linked Purchase Invoice Payload", "type": "main", "index": 0 }]] },
      "Build Linked Purchase Invoice Payload": { "main": [[{ "node": "Create Linked Purchase Invoice", "type": "main", "index": 0 }]] },
      "Create Linked Purchase Invoice": { "main": [[{ "node": "Submit Linked Purchase Invoice", "type": "main", "index": 0 }]] },
      "Submit Linked Purchase Invoice": { "main": [[{ "node": "Try Cancel Invoiced Purchase Receipt", "type": "main", "index": 0 }]] },
      "Try Cancel Invoiced Purchase Receipt": { "main": [[{ "node": "Get Purchase Receipt After Cancel Attempt", "type": "main", "index": 0 }]] },
      "Get Purchase Receipt After Cancel Attempt": { "main": [[{ "node": "Return Safe Buying Stock Lock Summary", "type": "main", "index": 0 }]] },
      "Return Safe Buying Stock Lock Summary": { "main": [[]] }
    },
    "settings": { "executionOrder": "v1", "binaryMode": "separate" },
    "staticData": null,
    "pinData": {},
    "meta": { "templateCredsSetupCompleted": true },
    "tags": []
  }
]
