n8n-webhook-erpnext-stock-v2-linked-invoice-dn-cancel-test.workflow.json
[
  {
    "id": "stockLinkedInvoiceDnCancelV2Test01",
    "name": "ERPNext Stock V2 Linked Invoice Delivery Note Cancel Test",
    "active": false,
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "erpnext-stock-v2-linked-invoice-dn-cancel-test",
          "responseMode": "lastNode",
          "responseData": "allEntries",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [-1700, 0],
        "id": "linked-invoice-dn-cancel-webhook",
        "name": "POST Webhook",
        "webhookId": "erpnext-stock-v2-linked-invoice-dn-cancel-test"
      },
      {
        "parameters": {
          "jsCode": "const now = new Date();\nconst today = now.toISOString().slice(0, 10);\nconst due = new Date(now.getTime() + 7 * 24 * 60 * 60 * 1000).toISOString().slice(0, 10);\nconst stamp = Date.now();\nconst runId = `N8N-STOCK-LINKED-DN-${stamp}`;\nreturn [{ json: { runId, company: 'Thái Duy Digital', parentWarehouse: 'All Warehouses - TDD', postingDate: today, dueDate: due, itemGroup: `${runId} Nhóm linked`, warehouseName: `${runId} Linked DN WH`, itemCode: `${runId} Hàng linked DN`, customerName: `${runId} KH linked invoice`, receiptQty: 4, deliveryQty: 2, rate: 63, accounts: { receivable: '1310 - Debtors - TDD', sales: '4110 - Sales - TDD' } } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [-1480, 0],
        "id": "build-linked-context",
        "name": "Build Linked Context"
      },
      {
        "parameters": {
          "resource": "customDocType",
          "customDocType": "Customer",
          "apiVersion": "v2",
          "operation": "create",
          "dataJson": "={{ JSON.stringify({ customer_name: $node[\"Build Linked Context\"].json.customerName, customer_type: \"Company\", customer_group: \"Individual\", territory: \"Vietnam\" }) }}"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [-1260, 0],
        "id": "create-linked-customer",
        "name": "Create Linked Customer",
        "credentials": { "erpNextApi": { "id": "9hFY985G0WpX5Xyt", "name": "ERPNext account" } }
      },
      {
        "parameters": {
          "resource": "itemGroup",
          "apiVersion": "v2",
          "operation": "create",
          "dataJson": "={{ JSON.stringify({ item_group_name: $node[\"Build Linked Context\"].json.itemGroup, parent_item_group: \"All Item Groups\", is_group: 0 }) }}"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [-1040, 0],
        "id": "create-linked-item-group",
        "name": "Create Linked Item Group",
        "credentials": { "erpNextApi": { "id": "9hFY985G0WpX5Xyt", "name": "ERPNext account" } }
      },
      {
        "parameters": {
          "resource": "warehouse",
          "apiVersion": "v2",
          "operation": "create",
          "dataJson": "={{ JSON.stringify({ warehouse_name: $node[\"Build Linked Context\"].json.warehouseName, parent_warehouse: $node[\"Build Linked Context\"].json.parentWarehouse, company: $node[\"Build Linked Context\"].json.company, is_group: 0 }) }}"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [-820, 0],
        "id": "create-linked-warehouse",
        "name": "Create Linked Warehouse",
        "credentials": { "erpNextApi": { "id": "9hFY985G0WpX5Xyt", "name": "ERPNext account" } }
      },
      {
        "parameters": {
          "resource": "item",
          "apiVersion": "v2",
          "operation": "create",
          "dataJson": "={{ JSON.stringify({ item_code: $node[\"Build Linked Context\"].json.itemCode, item_name: $node[\"Build Linked Context\"].json.itemCode, item_group: $node[\"Create Linked Item Group\"].json.name, stock_uom: \"Unit\", is_stock_item: 1, is_purchase_item: 1, is_sales_item: 1, valuation_rate: $node[\"Build Linked Context\"].json.rate, standard_rate: $node[\"Build Linked Context\"].json.rate }) }}"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [-600, 0],
        "id": "create-linked-item",
        "name": "Create Linked Item",
        "credentials": { "erpNextApi": { "id": "9hFY985G0WpX5Xyt", "name": "ERPNext account" } }
      },
      {
        "parameters": {
          "resource": "stockEntry",
          "apiVersion": "v2",
          "operation": "create",
          "dataJson": "={{ JSON.stringify({ stock_entry_type: \"Material Receipt\", company: $node[\"Build Linked Context\"].json.company, posting_date: $node[\"Build Linked Context\"].json.postingDate, items: [{ item_code: $node[\"Create Linked Item\"].json.name, t_warehouse: $node[\"Create Linked Warehouse\"].json.name, qty: $node[\"Build Linked Context\"].json.receiptQty, basic_rate: $node[\"Build Linked Context\"].json.rate }] }) }}"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [-380, 0],
        "id": "create-linked-receipt",
        "name": "Create Linked Receipt",
        "credentials": { "erpNextApi": { "id": "9hFY985G0WpX5Xyt", "name": "ERPNext account" } }
      },
      {
        "parameters": {
          "resource": "stockEntry",
          "apiVersion": "v2",
          "operation": "submit",
          "documentName": "={{ $node[\"Create Linked Receipt\"].json.name }}"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [-160, 0],
        "id": "submit-linked-receipt",
        "name": "Submit Linked Receipt",
        "credentials": { "erpNextApi": { "id": "9hFY985G0WpX5Xyt", "name": "ERPNext account" } }
      },
      {
        "parameters": {
          "resource": "deliveryNote",
          "apiVersion": "v2",
          "operation": "create",
          "dataJson": "={{ JSON.stringify({ customer: $node[\"Create Linked Customer\"].json.name, company: $node[\"Build Linked Context\"].json.company, posting_date: $node[\"Build Linked Context\"].json.postingDate, set_warehouse: $node[\"Create Linked Warehouse\"].json.name, items: [{ item_code: $node[\"Create Linked Item\"].json.name, warehouse: $node[\"Create Linked Warehouse\"].json.name, qty: $node[\"Build Linked Context\"].json.deliveryQty, rate: $node[\"Build Linked Context\"].json.rate }] }) }}"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [60, 0],
        "id": "create-linked-delivery-note",
        "name": "Create Linked Delivery Note",
        "credentials": { "erpNextApi": { "id": "9hFY985G0WpX5Xyt", "name": "ERPNext account" } }
      },
      {
        "parameters": {
          "resource": "deliveryNote",
          "apiVersion": "v2",
          "operation": "submit",
          "documentName": "={{ $node[\"Create Linked Delivery Note\"].json.name }}"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [280, 0],
        "id": "submit-linked-delivery-note",
        "name": "Submit Linked Delivery Note",
        "credentials": { "erpNextApi": { "id": "9hFY985G0WpX5Xyt", "name": "ERPNext account" } }
      },
      {
        "parameters": {
          "resource": "deliveryNote",
          "apiVersion": "v2",
          "operation": "get",
          "documentName": "={{ $node[\"Create Linked Delivery Note\"].json.name }}"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [500, 0],
        "id": "get-linked-delivery-note",
        "name": "Get Linked Delivery Note",
        "credentials": { "erpNextApi": { "id": "9hFY985G0WpX5Xyt", "name": "ERPNext account" } }
      },
      {
        "parameters": {
          "resource": "customDocType",
          "customDocType": "Sales Invoice",
          "apiVersion": "v2",
          "operation": "create",
          "dataJson": "={{ JSON.stringify({ customer: $node[\"Create Linked Customer\"].json.name, company: $node[\"Build Linked Context\"].json.company, posting_date: $node[\"Build Linked Context\"].json.postingDate, due_date: $node[\"Build Linked Context\"].json.dueDate, debit_to: $node[\"Build Linked Context\"].json.accounts.receivable, remarks: `${$node[\"Build Linked Context\"].json.runId} linked invoice from Delivery Note`, items: [{ item_code: $node[\"Create Linked Item\"].json.name, qty: $node[\"Build Linked Context\"].json.deliveryQty, rate: $node[\"Build Linked Context\"].json.rate, income_account: $node[\"Build Linked Context\"].json.accounts.sales, delivery_note: $node[\"Create Linked Delivery Note\"].json.name, dn_detail: $node[\"Get Linked Delivery Note\"].json.items[0].name }] }) }}"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [720, 0],
        "id": "create-linked-sales-invoice",
        "name": "Create Linked Sales Invoice",
        "credentials": { "erpNextApi": { "id": "9hFY985G0WpX5Xyt", "name": "ERPNext account" } }
      },
      {
        "parameters": {
          "resource": "customDocType",
          "customDocType": "Sales Invoice",
          "apiVersion": "v2",
          "operation": "submit",
          "documentName": "={{ $node[\"Create Linked Sales Invoice\"].json.name }}"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [940, 0],
        "id": "submit-linked-sales-invoice",
        "name": "Submit Linked Sales Invoice",
        "credentials": { "erpNextApi": { "id": "9hFY985G0WpX5Xyt", "name": "ERPNext account" } }
      },
      {
        "parameters": {
          "resource": "deliveryNote",
          "apiVersion": "v2",
          "operation": "cancel",
          "documentName": "={{ $node[\"Create Linked Delivery Note\"].json.name }}"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [1160, 0],
        "id": "cancel-linked-delivery-note",
        "name": "Cancel Linked Delivery Note",
        "credentials": { "erpNextApi": { "id": "9hFY985G0WpX5Xyt", "name": "ERPNext account" } },
        "continueOnFail": true
      },
      {
        "parameters": {
          "resource": "deliveryNote",
          "apiVersion": "v2",
          "operation": "get",
          "documentName": "={{ $node[\"Create Linked Delivery Note\"].json.name }}"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [1380, 0],
        "id": "get-linked-delivery-note-after-cancel",
        "name": "Get Linked Delivery Note After Cancel",
        "credentials": { "erpNextApi": { "id": "9hFY985G0WpX5Xyt", "name": "ERPNext account" } }
      },
      {
        "parameters": {
          "jsCode": "const cancelRows = $('Cancel Linked Delivery Note').all().map(i => i.json);\nconst cancelFailed = cancelRows.some(row => row.error || row.message || row.httpCode || row.stack);\nconst dnAfter = $node['Get Linked Delivery Note After Cancel'].json;\nconst invoice = $node['Submit Linked Sales Invoice'].json;\nconst text = JSON.stringify({ cancelRows, dnAfter, invoice: { name: invoice.name, docstatus: invoice.docstatus, grand_total: invoice.grand_total } });\nconst securityFindings = ['api key', 'api_secret', 'authorization', 'token ', 'password'].filter(term => text.toLowerCase().includes(term));\nconst status = cancelFailed && Number(dnAfter.docstatus) === 1 && Number(invoice.docstatus) === 1 ? 'passed' : 'failed';\nreturn [{ json: { status, runId: $node['Build Linked Context'].json.runId, customer: $node['Create Linked Customer'].json.name, item: $node['Create Linked Item'].json.name, warehouse: $node['Create Linked Warehouse'].json.name, deliveryNote: $node['Create Linked Delivery Note'].json.name, deliveryNoteDocstatusAfterCancelAttempt: dnAfter.docstatus, deliveryNotePerBilled: dnAfter.per_billed, salesInvoice: invoice.name, salesInvoiceDocstatus: invoice.docstatus, salesInvoiceGrandTotal: invoice.grand_total, cancelFailedAsExpected: cancelFailed, cancelError: cancelRows.map(row => row.error || row.message || row.httpCode || 'no error captured'), securityFindings } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [1600, 0],
        "id": "return-safe-linked-summary",
        "name": "Return Safe Linked Summary"
      }
    ],
    "connections": {
      "POST Webhook": { "main": [[{ "node": "Build Linked Context", "type": "main", "index": 0 }]] },
      "Build Linked Context": { "main": [[{ "node": "Create Linked Customer", "type": "main", "index": 0 }]] },
      "Create Linked Customer": { "main": [[{ "node": "Create Linked Item Group", "type": "main", "index": 0 }]] },
      "Create Linked Item Group": { "main": [[{ "node": "Create Linked Warehouse", "type": "main", "index": 0 }]] },
      "Create Linked Warehouse": { "main": [[{ "node": "Create Linked Item", "type": "main", "index": 0 }]] },
      "Create Linked Item": { "main": [[{ "node": "Create Linked Receipt", "type": "main", "index": 0 }]] },
      "Create Linked Receipt": { "main": [[{ "node": "Submit Linked Receipt", "type": "main", "index": 0 }]] },
      "Submit Linked Receipt": { "main": [[{ "node": "Create Linked Delivery Note", "type": "main", "index": 0 }]] },
      "Create Linked Delivery Note": { "main": [[{ "node": "Submit Linked Delivery Note", "type": "main", "index": 0 }]] },
      "Submit Linked Delivery Note": { "main": [[{ "node": "Get Linked Delivery Note", "type": "main", "index": 0 }]] },
      "Get Linked Delivery Note": { "main": [[{ "node": "Create Linked Sales Invoice", "type": "main", "index": 0 }]] },
      "Create Linked Sales Invoice": { "main": [[{ "node": "Submit Linked Sales Invoice", "type": "main", "index": 0 }]] },
      "Submit Linked Sales Invoice": { "main": [[{ "node": "Cancel Linked Delivery Note", "type": "main", "index": 0 }]] },
      "Cancel Linked Delivery Note": { "main": [[{ "node": "Get Linked Delivery Note After Cancel", "type": "main", "index": 0 }]] },
      "Get Linked Delivery Note After Cancel": { "main": [[{ "node": "Return Safe Linked Summary", "type": "main", "index": 0 }]] },
      "Return Safe Linked Summary": { "main": [[]] }
    },
    "settings": { "executionOrder": "v1", "binaryMode": "separate" },
    "staticData": null,
    "pinData": {},
    "meta": { "templateCredsSetupCompleted": true },
    "tags": []
  }
]
