n8n-webhook-erpnext-stock-v2-reconciliation-cancel-test.workflow.json
[
  {
    "id": "stockReconciliationCancelV2Test01",
    "name": "ERPNext Stock V2 Reconciliation Cancel Test",
    "active": false,
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "erpnext-stock-v2-reconciliation-cancel-test",
          "responseMode": "lastNode",
          "responseData": "allEntries",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [-1400, 0],
        "id": "stock-reconciliation-cancel-webhook",
        "name": "POST Webhook",
        "webhookId": "erpnext-stock-v2-reconciliation-cancel-test"
      },
      {
        "parameters": {
          "jsCode": "const today = new Date().toISOString().slice(0, 10);\nconst stamp = Date.now();\nconst runId = `N8N-STOCK-RECON-${stamp}`;\nreturn [{ json: { runId, company: 'Thái Duy Digital', parentWarehouse: 'All Warehouses - TDD', postingDate: today, itemGroup: `${runId} Nhóm điều chỉnh`, warehouseName: `${runId} Recon WH`, itemCode: `${runId} Hàng điều chỉnh Đặc biệt`, receiptQty: 6, cancelQty: 2, reconcileQty: 3, receiptRate: 21, reconcileRate: 44 } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [-1180, 0],
        "id": "build-recon-context",
        "name": "Build Recon Context"
      },
      {
        "parameters": {
          "resource": "itemGroup",
          "apiVersion": "v2",
          "operation": "create",
          "dataJson": "={{ JSON.stringify({ item_group_name: $node[\"Build Recon Context\"].json.itemGroup, parent_item_group: \"All Item Groups\", is_group: 0 }) }}"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [-960, 0],
        "id": "create-recon-item-group",
        "name": "Create Recon Item Group",
        "credentials": { "erpNextApi": { "id": "9hFY985G0WpX5Xyt", "name": "ERPNext account" } }
      },
      {
        "parameters": {
          "resource": "warehouse",
          "apiVersion": "v2",
          "operation": "create",
          "dataJson": "={{ JSON.stringify({ warehouse_name: $node[\"Build Recon Context\"].json.warehouseName, parent_warehouse: $node[\"Build Recon Context\"].json.parentWarehouse, company: $node[\"Build Recon Context\"].json.company, is_group: 0 }) }}"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [-740, 0],
        "id": "create-recon-warehouse",
        "name": "Create Recon Warehouse",
        "credentials": { "erpNextApi": { "id": "9hFY985G0WpX5Xyt", "name": "ERPNext account" } }
      },
      {
        "parameters": {
          "resource": "item",
          "apiVersion": "v2",
          "operation": "create",
          "dataJson": "={{ JSON.stringify({ item_code: $node[\"Build Recon Context\"].json.itemCode, item_name: $node[\"Build Recon Context\"].json.itemCode, item_group: $node[\"Create Recon Item Group\"].json.name, stock_uom: \"Unit\", is_stock_item: 1, is_purchase_item: 1, is_sales_item: 1, valuation_rate: $node[\"Build Recon Context\"].json.receiptRate, standard_rate: $node[\"Build Recon Context\"].json.receiptRate }) }}"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [-520, 0],
        "id": "create-recon-item",
        "name": "Create Recon Item",
        "credentials": { "erpNextApi": { "id": "9hFY985G0WpX5Xyt", "name": "ERPNext account" } }
      },
      {
        "parameters": {
          "resource": "stockEntry",
          "apiVersion": "v2",
          "operation": "create",
          "dataJson": "={{ JSON.stringify({ stock_entry_type: \"Material Receipt\", company: $node[\"Build Recon Context\"].json.company, posting_date: $node[\"Build Recon Context\"].json.postingDate, items: [{ item_code: $node[\"Create Recon Item\"].json.name, t_warehouse: $node[\"Create Recon Warehouse\"].json.name, qty: $node[\"Build Recon Context\"].json.receiptQty, basic_rate: $node[\"Build Recon Context\"].json.receiptRate }] }) }}"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [-300, 0],
        "id": "create-base-receipt",
        "name": "Create Base Receipt",
        "credentials": { "erpNextApi": { "id": "9hFY985G0WpX5Xyt", "name": "ERPNext account" } }
      },
      {
        "parameters": {
          "resource": "stockEntry",
          "apiVersion": "v2",
          "operation": "submit",
          "documentName": "={{ $node[\"Create Base Receipt\"].json.name }}"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [-80, 0],
        "id": "submit-base-receipt",
        "name": "Submit Base Receipt",
        "credentials": { "erpNextApi": { "id": "9hFY985G0WpX5Xyt", "name": "ERPNext account" } }
      },
      {
        "parameters": {
          "resource": "stockEntry",
          "apiVersion": "v2",
          "operation": "create",
          "dataJson": "={{ JSON.stringify({ stock_entry_type: \"Material Receipt\", company: $node[\"Build Recon Context\"].json.company, posting_date: $node[\"Build Recon Context\"].json.postingDate, items: [{ item_code: $node[\"Create Recon Item\"].json.name, t_warehouse: $node[\"Create Recon Warehouse\"].json.name, qty: $node[\"Build Recon Context\"].json.cancelQty, basic_rate: $node[\"Build Recon Context\"].json.receiptRate }] }) }}"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [140, 0],
        "id": "create-cancel-receipt",
        "name": "Create Cancel Receipt",
        "credentials": { "erpNextApi": { "id": "9hFY985G0WpX5Xyt", "name": "ERPNext account" } }
      },
      {
        "parameters": {
          "resource": "stockEntry",
          "apiVersion": "v2",
          "operation": "submit",
          "documentName": "={{ $node[\"Create Cancel Receipt\"].json.name }}"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [360, 0],
        "id": "submit-cancel-receipt",
        "name": "Submit Cancel Receipt",
        "credentials": { "erpNextApi": { "id": "9hFY985G0WpX5Xyt", "name": "ERPNext account" } }
      },
      {
        "parameters": {
          "resource": "stockEntry",
          "apiVersion": "v2",
          "operation": "cancel",
          "documentName": "={{ $node[\"Create Cancel Receipt\"].json.name }}"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [580, 0],
        "id": "cancel-cancel-receipt",
        "name": "Cancel Receipt",
        "credentials": { "erpNextApi": { "id": "9hFY985G0WpX5Xyt", "name": "ERPNext account" } }
      },
      {
        "parameters": {
          "resource": "stockReconciliation",
          "apiVersion": "v2",
          "operation": "create",
          "dataJson": "={{ JSON.stringify({ company: $node[\"Build Recon Context\"].json.company, purpose: \"Stock Reconciliation\", posting_date: $node[\"Build Recon Context\"].json.postingDate, items: [{ item_code: $node[\"Create Recon Item\"].json.name, warehouse: $node[\"Create Recon Warehouse\"].json.name, qty: $node[\"Build Recon Context\"].json.reconcileQty, valuation_rate: $node[\"Build Recon Context\"].json.reconcileRate }] }) }}"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [800, 0],
        "id": "create-stock-reconciliation",
        "name": "Create Stock Reconciliation",
        "credentials": { "erpNextApi": { "id": "9hFY985G0WpX5Xyt", "name": "ERPNext account" } }
      },
      {
        "parameters": {
          "resource": "stockReconciliation",
          "apiVersion": "v2",
          "operation": "submit",
          "documentName": "={{ $node[\"Create Stock Reconciliation\"].json.name }}"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [1020, 0],
        "id": "submit-stock-reconciliation",
        "name": "Submit Stock Reconciliation",
        "credentials": { "erpNextApi": { "id": "9hFY985G0WpX5Xyt", "name": "ERPNext account" } }
      },
      {
        "parameters": {
          "resource": "bin",
          "apiVersion": "v1",
          "operation": "getMany",
          "fields": "name,item_code,warehouse,actual_qty,valuation_rate,stock_value",
          "filtersJson": "={{ JSON.stringify({ item_code: $node[\"Create Recon Item\"].json.name, warehouse: $node[\"Create Recon Warehouse\"].json.name }) }}",
          "returnAll": false,
          "limit": 5,
          "orderBy": "modified desc"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [1240, 0],
        "id": "verify-recon-bin",
        "name": "Verify Recon Bin",
        "credentials": { "erpNextApi": { "id": "9hFY985G0WpX5Xyt", "name": "ERPNext account" } }
      },
      {
        "parameters": {
          "resource": "stockLedgerEntry",
          "apiVersion": "v1",
          "operation": "getMany",
          "fields": "name,item_code,warehouse,voucher_type,voucher_no,actual_qty,qty_after_transaction,valuation_rate,stock_value,is_cancelled",
          "filtersJson": "={{ JSON.stringify({ voucher_no: $node[\"Create Stock Reconciliation\"].json.name }) }}",
          "returnAll": false,
          "limit": 10,
          "orderBy": "posting_date desc, posting_time desc"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [1460, 0],
        "id": "verify-recon-sle",
        "name": "Verify Recon SLE",
        "credentials": { "erpNextApi": { "id": "9hFY985G0WpX5Xyt", "name": "ERPNext account" } }
      },
      {
        "parameters": {
          "resource": "stockLedgerEntry",
          "apiVersion": "v1",
          "operation": "getMany",
          "fields": "name,item_code,warehouse,voucher_type,voucher_no,actual_qty,qty_after_transaction,is_cancelled",
          "filtersJson": "={{ JSON.stringify({ voucher_no: $node[\"Create Cancel Receipt\"].json.name }) }}",
          "returnAll": false,
          "limit": 10,
          "orderBy": "posting_date desc, posting_time desc"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [1680, 0],
        "id": "verify-cancel-sle",
        "name": "Verify Cancel SLE",
        "credentials": { "erpNextApi": { "id": "9hFY985G0WpX5Xyt", "name": "ERPNext account" } }
      },
      {
        "parameters": {
          "jsCode": "const ctx = $node['Build Recon Context'].json;\nconst cancelled = $node['Cancel Receipt'].json;\nconst recon = $node['Submit Stock Reconciliation'].json;\nconst bin = $('Verify Recon Bin').all().map(i => i.json);\nconst reconSle = $('Verify Recon SLE').all().map(i => i.json);\nconst cancelSle = $('Verify Cancel SLE').all().map(i => i.json);\nconst text = JSON.stringify({ ctx, cancelled, recon, bin, reconSle, cancelSle });\nconst securityFindings = ['api key', 'api_secret', 'authorization', 'token ', 'password'].filter(term => text.toLowerCase().includes(term));\nconst status = Number(cancelled.docstatus) === 2 && Number(recon.docstatus) === 1 && Number(bin[0]?.actual_qty) === ctx.reconcileQty && reconSle.length >= 1 && cancelSle.some(row => Number(row.is_cancelled) === 1) ? 'passed' : 'failed';\nreturn [{ json: { status, runId: ctx.runId, item: $node['Create Recon Item'].json.name, warehouse: $node['Create Recon Warehouse'].json.name, baseReceipt: $node['Create Base Receipt'].json.name, cancelReceipt: $node['Create Cancel Receipt'].json.name, cancelReceiptDocstatus: cancelled.docstatus, stockReconciliation: $node['Create Stock Reconciliation'].json.name, stockReconciliationDocstatus: recon.docstatus, binActualQty: bin[0]?.actual_qty, binValuationRate: bin[0]?.valuation_rate, reconLedgerRows: reconSle.length, reconLedgerActualQty: reconSle.map(row => row.actual_qty), reconLedgerQtyAfterTransaction: reconSle.map(row => row.qty_after_transaction), cancelLedgerRows: cancelSle.length, cancelLedgerCancelledFlags: cancelSle.map(row => row.is_cancelled), securityFindings } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [1900, 0],
        "id": "return-safe-recon-summary",
        "name": "Return Safe Recon Summary"
      }
    ],
    "connections": {
      "POST Webhook": { "main": [[{ "node": "Build Recon Context", "type": "main", "index": 0 }]] },
      "Build Recon Context": { "main": [[{ "node": "Create Recon Item Group", "type": "main", "index": 0 }]] },
      "Create Recon Item Group": { "main": [[{ "node": "Create Recon Warehouse", "type": "main", "index": 0 }]] },
      "Create Recon Warehouse": { "main": [[{ "node": "Create Recon Item", "type": "main", "index": 0 }]] },
      "Create Recon Item": { "main": [[{ "node": "Create Base Receipt", "type": "main", "index": 0 }]] },
      "Create Base Receipt": { "main": [[{ "node": "Submit Base Receipt", "type": "main", "index": 0 }]] },
      "Submit Base Receipt": { "main": [[{ "node": "Create Cancel Receipt", "type": "main", "index": 0 }]] },
      "Create Cancel Receipt": { "main": [[{ "node": "Submit Cancel Receipt", "type": "main", "index": 0 }]] },
      "Submit Cancel Receipt": { "main": [[{ "node": "Cancel Receipt", "type": "main", "index": 0 }]] },
      "Cancel Receipt": { "main": [[{ "node": "Create Stock Reconciliation", "type": "main", "index": 0 }]] },
      "Create Stock Reconciliation": { "main": [[{ "node": "Submit Stock Reconciliation", "type": "main", "index": 0 }]] },
      "Submit Stock Reconciliation": { "main": [[{ "node": "Verify Recon Bin", "type": "main", "index": 0 }]] },
      "Verify Recon Bin": { "main": [[{ "node": "Verify Recon SLE", "type": "main", "index": 0 }]] },
      "Verify Recon SLE": { "main": [[{ "node": "Verify Cancel SLE", "type": "main", "index": 0 }]] },
      "Verify Cancel SLE": { "main": [[{ "node": "Return Safe Recon Summary", "type": "main", "index": 0 }]] },
      "Return Safe Recon Summary": { "main": [[]] }
    },
    "settings": { "executionOrder": "v1", "binaryMode": "separate" },
    "staticData": null,
    "pinData": {},
    "meta": { "templateCredsSetupCompleted": true },
    "tags": []
  }
]
