n8n-webhook-erpnext-stock-v2-inventory-lifecycle-test.workflow.json
[
  {
    "id": "stockInventoryLifecycleV2Test01",
    "name": "ERPNext Stock V2 Inventory Lifecycle Test",
    "active": false,
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "erpnext-stock-v2-inventory-lifecycle-test",
          "responseMode": "lastNode",
          "responseData": "allEntries",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -1400,
          0
        ],
        "id": "stock-inventory-lifecycle-webhook",
        "name": "POST Webhook",
        "webhookId": "erpnext-stock-v2-inventory-lifecycle-test"
      },
      {
        "parameters": {
          "jsCode": "const now = new Date();\nconst today = now.toISOString().slice(0, 10);\nconst stamp = Date.now();\nconst runId = `N8N-STOCK-LIFE-${stamp}`;\nreturn [{\n  json: {\n    runId,\n    company: 'Thái Duy Digital',\n    parentWarehouse: 'All Warehouses - TDD',\n    postingDate: today,\n    itemGroup: `${runId} Nhóm kho đặc biệt`,\n    sourceWarehouseName: `${runId} Source WH`,\n    targetWarehouseName: `${runId} Target WH`,\n    itemCode: `${runId} Vật tư Đặc biệt & Space Test`,\n    receiptQty: 10,\n    transferQty: 4,\n    rate: 37\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1180,
          0
        ],
        "id": "build-stock-context",
        "name": "Build Stock Context"
      },
      {
        "parameters": {
          "resource": "itemGroup",
          "apiVersion": "v2",
          "operation": "create",
          "dataJson": "={{ JSON.stringify({ item_group_name: $node[\"Build Stock Context\"].json.itemGroup, parent_item_group: \"All Item Groups\", is_group: 0 }) }}"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [
          -960,
          0
        ],
        "id": "create-item-group-v2",
        "name": "Create Item Group V2",
        "credentials": {
          "erpNextApi": {
            "id": "9hFY985G0WpX5Xyt",
            "name": "ERPNext account"
          }
        }
      },
      {
        "parameters": {
          "resource": "warehouse",
          "apiVersion": "v2",
          "operation": "create",
          "dataJson": "={{ JSON.stringify({ warehouse_name: $node[\"Build Stock Context\"].json.sourceWarehouseName, parent_warehouse: $node[\"Build Stock Context\"].json.parentWarehouse, company: $node[\"Build Stock Context\"].json.company, is_group: 0 }) }}"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [
          -740,
          0
        ],
        "id": "create-source-warehouse-v2",
        "name": "Create Source Warehouse V2",
        "credentials": {
          "erpNextApi": {
            "id": "9hFY985G0WpX5Xyt",
            "name": "ERPNext account"
          }
        }
      },
      {
        "parameters": {
          "resource": "warehouse",
          "apiVersion": "v2",
          "operation": "create",
          "dataJson": "={{ JSON.stringify({ warehouse_name: $node[\"Build Stock Context\"].json.targetWarehouseName, parent_warehouse: $node[\"Build Stock Context\"].json.parentWarehouse, company: $node[\"Build Stock Context\"].json.company, is_group: 0 }) }}"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [
          -520,
          0
        ],
        "id": "create-target-warehouse-v2",
        "name": "Create Target Warehouse V2",
        "credentials": {
          "erpNextApi": {
            "id": "9hFY985G0WpX5Xyt",
            "name": "ERPNext account"
          }
        }
      },
      {
        "parameters": {
          "resource": "item",
          "apiVersion": "v2",
          "operation": "create",
          "dataJson": "={{ JSON.stringify({ item_code: $node[\"Build Stock Context\"].json.itemCode, item_name: $node[\"Build Stock Context\"].json.itemCode, item_group: $node[\"Create Item Group V2\"].json.name, stock_uom: \"Unit\", is_stock_item: 1, is_purchase_item: 1, is_sales_item: 1, valuation_rate: $node[\"Build Stock Context\"].json.rate, standard_rate: $node[\"Build Stock Context\"].json.rate }) }}"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [
          -300,
          0
        ],
        "id": "create-stock-item-v2",
        "name": "Create Stock Item V2",
        "credentials": {
          "erpNextApi": {
            "id": "9hFY985G0WpX5Xyt",
            "name": "ERPNext account"
          }
        }
      },
      {
        "parameters": {
          "resource": "stockEntry",
          "apiVersion": "v2",
          "operation": "create",
          "dataJson": "={{ JSON.stringify({ stock_entry_type: \"Material Receipt\", company: $node[\"Build Stock Context\"].json.company, posting_date: $node[\"Build Stock Context\"].json.postingDate, items: [{ item_code: $node[\"Create Stock Item V2\"].json.name, t_warehouse: $node[\"Create Source Warehouse V2\"].json.name, qty: $node[\"Build Stock Context\"].json.receiptQty, basic_rate: $node[\"Build Stock Context\"].json.rate }] }) }}"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [
          -80,
          0
        ],
        "id": "create-material-receipt-v2",
        "name": "Create Material Receipt V2",
        "credentials": {
          "erpNextApi": {
            "id": "9hFY985G0WpX5Xyt",
            "name": "ERPNext account"
          }
        }
      },
      {
        "parameters": {
          "resource": "stockEntry",
          "apiVersion": "v2",
          "operation": "submit",
          "documentName": "={{ $node[\"Create Material Receipt V2\"].json.name }}"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [
          140,
          0
        ],
        "id": "submit-material-receipt-v2",
        "name": "Submit Material Receipt V2",
        "credentials": {
          "erpNextApi": {
            "id": "9hFY985G0WpX5Xyt",
            "name": "ERPNext account"
          }
        }
      },
      {
        "parameters": {
          "resource": "bin",
          "apiVersion": "v1",
          "operation": "getMany",
          "fields": "name,item_code,warehouse,actual_qty,projected_qty,valuation_rate,stock_value",
          "filtersJson": "={{ JSON.stringify({ item_code: $node[\"Create Stock Item V2\"].json.name, warehouse: $node[\"Create Source Warehouse V2\"].json.name }) }}",
          "returnAll": false,
          "limit": 5,
          "orderBy": "modified desc"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [
          360,
          0
        ],
        "id": "verify-source-bin-after-receipt",
        "name": "Verify Source Bin After Receipt",
        "credentials": {
          "erpNextApi": {
            "id": "9hFY985G0WpX5Xyt",
            "name": "ERPNext account"
          }
        }
      },
      {
        "parameters": {
          "resource": "stockLedgerEntry",
          "apiVersion": "v1",
          "operation": "getMany",
          "fields": "name,item_code,warehouse,voucher_type,voucher_no,actual_qty,qty_after_transaction,valuation_rate,stock_value,is_cancelled",
          "filtersJson": "={{ JSON.stringify({ voucher_type: \"Stock Entry\", voucher_no: $node[\"Create Material Receipt V2\"].json.name }) }}",
          "returnAll": false,
          "limit": 10,
          "orderBy": "posting_date desc, posting_time desc"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [
          580,
          0
        ],
        "id": "verify-sle-after-receipt",
        "name": "Verify SLE After Receipt",
        "credentials": {
          "erpNextApi": {
            "id": "9hFY985G0WpX5Xyt",
            "name": "ERPNext account"
          }
        }
      },
      {
        "parameters": {
          "resource": "stockEntry",
          "apiVersion": "v2",
          "operation": "create",
          "dataJson": "={{ JSON.stringify({ stock_entry_type: \"Material Transfer\", company: $node[\"Build Stock Context\"].json.company, posting_date: $node[\"Build Stock Context\"].json.postingDate, from_warehouse: $node[\"Create Source Warehouse V2\"].json.name, to_warehouse: $node[\"Create Target Warehouse V2\"].json.name, items: [{ item_code: $node[\"Create Stock Item V2\"].json.name, s_warehouse: $node[\"Create Source Warehouse V2\"].json.name, t_warehouse: $node[\"Create Target Warehouse V2\"].json.name, qty: $node[\"Build Stock Context\"].json.transferQty, basic_rate: $node[\"Build Stock Context\"].json.rate }] }) }}"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [
          800,
          0
        ],
        "id": "create-material-transfer-v2",
        "name": "Create Material Transfer V2",
        "credentials": {
          "erpNextApi": {
            "id": "9hFY985G0WpX5Xyt",
            "name": "ERPNext account"
          }
        }
      },
      {
        "parameters": {
          "resource": "stockEntry",
          "apiVersion": "v2",
          "operation": "submit",
          "documentName": "={{ $node[\"Create Material Transfer V2\"].json.name }}"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [
          1020,
          0
        ],
        "id": "submit-material-transfer-v2",
        "name": "Submit Material Transfer V2",
        "credentials": {
          "erpNextApi": {
            "id": "9hFY985G0WpX5Xyt",
            "name": "ERPNext account"
          }
        }
      },
      {
        "parameters": {
          "resource": "bin",
          "apiVersion": "v1",
          "operation": "getMany",
          "fields": "name,item_code,warehouse,actual_qty,projected_qty,valuation_rate,stock_value",
          "filtersJson": "={{ JSON.stringify({ item_code: $node[\"Create Stock Item V2\"].json.name, warehouse: $node[\"Create Source Warehouse V2\"].json.name }) }}",
          "returnAll": false,
          "limit": 5,
          "orderBy": "modified desc"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [
          1240,
          0
        ],
        "id": "verify-source-bin-after-transfer",
        "name": "Verify Source Bin After Transfer",
        "credentials": {
          "erpNextApi": {
            "id": "9hFY985G0WpX5Xyt",
            "name": "ERPNext account"
          }
        }
      },
      {
        "parameters": {
          "resource": "bin",
          "apiVersion": "v1",
          "operation": "getMany",
          "fields": "name,item_code,warehouse,actual_qty,projected_qty,valuation_rate,stock_value",
          "filtersJson": "={{ JSON.stringify({ item_code: $node[\"Create Stock Item V2\"].json.name, warehouse: $node[\"Create Target Warehouse V2\"].json.name }) }}",
          "returnAll": false,
          "limit": 5,
          "orderBy": "modified desc"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [
          1460,
          0
        ],
        "id": "verify-target-bin-after-transfer",
        "name": "Verify Target Bin After Transfer",
        "credentials": {
          "erpNextApi": {
            "id": "9hFY985G0WpX5Xyt",
            "name": "ERPNext account"
          }
        }
      },
      {
        "parameters": {
          "resource": "stockLedgerEntry",
          "apiVersion": "v1",
          "operation": "getMany",
          "fields": "name,item_code,warehouse,voucher_type,voucher_no,actual_qty,qty_after_transaction,valuation_rate,stock_value,is_cancelled",
          "filtersJson": "={{ JSON.stringify({ voucher_type: \"Stock Entry\", voucher_no: $node[\"Create Material Transfer V2\"].json.name }) }}",
          "returnAll": false,
          "limit": 10,
          "orderBy": "posting_date desc, posting_time desc"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [
          1680,
          0
        ],
        "id": "verify-sle-after-transfer",
        "name": "Verify SLE After Transfer",
        "credentials": {
          "erpNextApi": {
            "id": "9hFY985G0WpX5Xyt",
            "name": "ERPNext account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const ctx = $node['Build Stock Context'].json;\nconst receipt = $node['Submit Material Receipt V2'].json;\nconst transfer = $node['Submit Material Transfer V2'].json;\nconst sourceAfterReceipt = $('Verify Source Bin After Receipt').all().map(i => i.json);\nconst receiptSle = $('Verify SLE After Receipt').all().map(i => i.json);\nconst sourceAfterTransfer = $('Verify Source Bin After Transfer').all().map(i => i.json);\nconst targetAfterTransfer = $('Verify Target Bin After Transfer').all().map(i => i.json);\nconst transferSle = $('Verify SLE After Transfer').all().map(i => i.json);\nconst text = JSON.stringify({ ctx, receipt, transfer, sourceAfterReceipt, receiptSle, sourceAfterTransfer, targetAfterTransfer, transferSle });\nconst securityTerms = ['api key', 'api_secret', 'authorization', 'token ', 'password'];\nconst securityFindings = securityTerms.filter(term => text.toLowerCase().includes(term));\nconst sourceReceiptQty = sourceAfterReceipt[0]?.actual_qty;\nconst sourceTransferQty = sourceAfterTransfer[0]?.actual_qty;\nconst targetTransferQty = targetAfterTransfer[0]?.actual_qty;\nconst status = Number(sourceReceiptQty) === ctx.receiptQty && Number(sourceTransferQty) === ctx.receiptQty - ctx.transferQty && Number(targetTransferQty) === ctx.transferQty && Number(receipt.docstatus) === 1 && Number(transfer.docstatus) === 1 && receiptSle.length >= 1 && transferSle.length >= 2 ? 'passed' : 'failed';\nreturn [{\n  json: {\n    status,\n    runId: ctx.runId,\n    item: $node['Create Stock Item V2'].json.name,\n    itemGroup: $node['Create Item Group V2'].json.name,\n    sourceWarehouse: $node['Create Source Warehouse V2'].json.name,\n    targetWarehouse: $node['Create Target Warehouse V2'].json.name,\n    materialReceipt: $node['Create Material Receipt V2'].json.name,\n    materialReceiptDocstatus: receipt.docstatus,\n    materialTransfer: $node['Create Material Transfer V2'].json.name,\n    materialTransferDocstatus: transfer.docstatus,\n    sourceQtyAfterReceipt: sourceReceiptQty,\n    sourceQtyAfterTransfer: sourceTransferQty,\n    targetQtyAfterTransfer: targetTransferQty,\n    receiptLedgerRows: receiptSle.length,\n    transferLedgerRows: transferSle.length,\n    receiptLedgerActualQty: receiptSle.map(row => row.actual_qty),\n    transferLedgerActualQty: transferSle.map(row => ({ warehouse: row.warehouse, actual_qty: row.actual_qty, qty_after_transaction: row.qty_after_transaction })),\n    securityFindings\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1900,
          0
        ],
        "id": "return-safe-stock-summary",
        "name": "Return Safe Stock Summary"
      }
    ],
    "connections": {
      "POST Webhook": {
        "main": [
          [
            {
              "node": "Build Stock Context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Stock Context": {
        "main": [
          [
            {
              "node": "Create Item Group V2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Item Group V2": {
        "main": [
          [
            {
              "node": "Create Source Warehouse V2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Source Warehouse V2": {
        "main": [
          [
            {
              "node": "Create Target Warehouse V2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Target Warehouse V2": {
        "main": [
          [
            {
              "node": "Create Stock Item V2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Stock Item V2": {
        "main": [
          [
            {
              "node": "Create Material Receipt V2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Material Receipt V2": {
        "main": [
          [
            {
              "node": "Submit Material Receipt V2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Submit Material Receipt V2": {
        "main": [
          [
            {
              "node": "Verify Source Bin After Receipt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Verify Source Bin After Receipt": {
        "main": [
          [
            {
              "node": "Verify SLE After Receipt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Verify SLE After Receipt": {
        "main": [
          [
            {
              "node": "Create Material Transfer V2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Material Transfer V2": {
        "main": [
          [
            {
              "node": "Submit Material Transfer V2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Submit Material Transfer V2": {
        "main": [
          [
            {
              "node": "Verify Source Bin After Transfer",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Verify Source Bin After Transfer": {
        "main": [
          [
            {
              "node": "Verify Target Bin After Transfer",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Verify Target Bin After Transfer": {
        "main": [
          [
            {
              "node": "Verify SLE After Transfer",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Verify SLE After Transfer": {
        "main": [
          [
            {
              "node": "Return Safe Stock Summary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Return Safe Stock Summary": {
        "main": [
          []
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate"
    },
    "staticData": null,
    "pinData": {},
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "tags": []
  }
]
