n8n-webhook-erpnext-stock-v2-batch-test.workflow.json
[
  {
    "id": "stockBatchV2Test01",
    "name": "ERPNext Stock V2 Batch Test",
    "active": false,
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "erpnext-stock-v2-batch-test",
          "responseMode": "lastNode",
          "responseData": "allEntries",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [-1400, 0],
        "id": "stock-batch-webhook",
        "name": "POST Webhook",
        "webhookId": "erpnext-stock-v2-batch-test"
      },
      {
        "parameters": {
          "jsCode": "const today = new Date().toISOString().slice(0, 10);\nconst stamp = Date.now();\nconst runId = `N8N-STOCK-BATCH-${stamp}`;\nreturn [{ json: { runId, company: 'Thái Duy Digital', parentWarehouse: 'All Warehouses - TDD', postingDate: today, itemGroup: `${runId} Nhóm batch`, warehouseName: `${runId} Batch WH`, itemCode: `${runId} Hàng batch Đặc biệt`, batchId: `${runId}-BATCH-001`, receiptQty: 5, issueQty: 2, rate: 29 } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [-1180, 0],
        "id": "build-batch-context",
        "name": "Build Batch Context"
      },
      {
        "parameters": {
          "resource": "itemGroup",
          "apiVersion": "v2",
          "operation": "create",
          "dataJson": "={{ JSON.stringify({ item_group_name: $node[\"Build Batch Context\"].json.itemGroup, parent_item_group: \"All Item Groups\", is_group: 0 }) }}"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [-960, 0],
        "id": "create-batch-item-group",
        "name": "Create Batch Item Group",
        "credentials": { "erpNextApi": { "id": "9hFY985G0WpX5Xyt", "name": "ERPNext account" } }
      },
      {
        "parameters": {
          "resource": "warehouse",
          "apiVersion": "v2",
          "operation": "create",
          "dataJson": "={{ JSON.stringify({ warehouse_name: $node[\"Build Batch Context\"].json.warehouseName, parent_warehouse: $node[\"Build Batch Context\"].json.parentWarehouse, company: $node[\"Build Batch Context\"].json.company, is_group: 0 }) }}"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [-740, 0],
        "id": "create-batch-warehouse",
        "name": "Create Batch Warehouse",
        "credentials": { "erpNextApi": { "id": "9hFY985G0WpX5Xyt", "name": "ERPNext account" } }
      },
      {
        "parameters": {
          "resource": "item",
          "apiVersion": "v2",
          "operation": "create",
          "dataJson": "={{ JSON.stringify({ item_code: $node[\"Build Batch Context\"].json.itemCode, item_name: $node[\"Build Batch Context\"].json.itemCode, item_group: $node[\"Create Batch Item Group\"].json.name, stock_uom: \"Unit\", is_stock_item: 1, is_purchase_item: 1, is_sales_item: 1, has_batch_no: 1, create_new_batch: 0, valuation_rate: $node[\"Build Batch Context\"].json.rate, standard_rate: $node[\"Build Batch Context\"].json.rate }) }}"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [-520, 0],
        "id": "create-batch-item",
        "name": "Create Batch Item",
        "credentials": { "erpNextApi": { "id": "9hFY985G0WpX5Xyt", "name": "ERPNext account" } }
      },
      {
        "parameters": {
          "resource": "batch",
          "apiVersion": "v2",
          "operation": "create",
          "dataJson": "={{ JSON.stringify({ batch_id: $node[\"Build Batch Context\"].json.batchId, item: $node[\"Create Batch Item\"].json.name }) }}"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [-300, 0],
        "id": "create-batch",
        "name": "Create Batch",
        "credentials": { "erpNextApi": { "id": "9hFY985G0WpX5Xyt", "name": "ERPNext account" } }
      },
      {
        "parameters": {
          "resource": "stockEntry",
          "apiVersion": "v2",
          "operation": "create",
          "dataJson": "={{ JSON.stringify({ stock_entry_type: \"Material Receipt\", company: $node[\"Build Batch Context\"].json.company, posting_date: $node[\"Build Batch Context\"].json.postingDate, items: [{ item_code: $node[\"Create Batch Item\"].json.name, t_warehouse: $node[\"Create Batch Warehouse\"].json.name, qty: $node[\"Build Batch Context\"].json.receiptQty, basic_rate: $node[\"Build Batch Context\"].json.rate, use_serial_batch_fields: 1, batch_no: $node[\"Create Batch\"].json.name }] }) }}"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [-80, 0],
        "id": "create-batch-receipt",
        "name": "Create Batch Receipt",
        "credentials": { "erpNextApi": { "id": "9hFY985G0WpX5Xyt", "name": "ERPNext account" } }
      },
      {
        "parameters": {
          "resource": "stockEntry",
          "apiVersion": "v2",
          "operation": "submit",
          "documentName": "={{ $node[\"Create Batch Receipt\"].json.name }}"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [140, 0],
        "id": "submit-batch-receipt",
        "name": "Submit Batch Receipt",
        "credentials": { "erpNextApi": { "id": "9hFY985G0WpX5Xyt", "name": "ERPNext account" } }
      },
      {
        "parameters": {
          "resource": "stockEntry",
          "apiVersion": "v2",
          "operation": "create",
          "dataJson": "={{ JSON.stringify({ stock_entry_type: \"Material Issue\", company: $node[\"Build Batch Context\"].json.company, posting_date: $node[\"Build Batch Context\"].json.postingDate, items: [{ item_code: $node[\"Create Batch Item\"].json.name, s_warehouse: $node[\"Create Batch Warehouse\"].json.name, qty: $node[\"Build Batch Context\"].json.issueQty, basic_rate: $node[\"Build Batch Context\"].json.rate, use_serial_batch_fields: 1, batch_no: $node[\"Create Batch\"].json.name }] }) }}"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [360, 0],
        "id": "create-batch-issue",
        "name": "Create Batch Issue",
        "credentials": { "erpNextApi": { "id": "9hFY985G0WpX5Xyt", "name": "ERPNext account" } }
      },
      {
        "parameters": {
          "resource": "stockEntry",
          "apiVersion": "v2",
          "operation": "submit",
          "documentName": "={{ $node[\"Create Batch Issue\"].json.name }}"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [580, 0],
        "id": "submit-batch-issue",
        "name": "Submit Batch Issue",
        "credentials": { "erpNextApi": { "id": "9hFY985G0WpX5Xyt", "name": "ERPNext account" } }
      },
      {
        "parameters": {
          "resource": "bin",
          "apiVersion": "v1",
          "operation": "getMany",
          "fields": "name,item_code,warehouse,actual_qty,valuation_rate,stock_value",
          "filtersJson": "={{ JSON.stringify({ item_code: $node[\"Create Batch Item\"].json.name, warehouse: $node[\"Create Batch Warehouse\"].json.name }) }}",
          "returnAll": false,
          "limit": 5,
          "orderBy": "modified desc"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [800, 0],
        "id": "verify-batch-bin",
        "name": "Verify Batch Bin",
        "credentials": { "erpNextApi": { "id": "9hFY985G0WpX5Xyt", "name": "ERPNext account" } }
      },
      {
        "parameters": {
          "resource": "stockLedgerEntry",
          "apiVersion": "v1",
          "operation": "getMany",
          "fields": "name,item_code,warehouse,batch_no,voucher_type,voucher_no,actual_qty,qty_after_transaction,is_cancelled",
          "filtersJson": "={{ JSON.stringify({ item_code: $node[\"Create Batch Item\"].json.name }) }}",
          "returnAll": false,
          "limit": 20,
          "orderBy": "posting_date desc, posting_time desc"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [1020, 0],
        "id": "verify-batch-sle",
        "name": "Verify Batch SLE",
        "credentials": { "erpNextApi": { "id": "9hFY985G0WpX5Xyt", "name": "ERPNext account" } }
      },
      {
        "parameters": {
          "jsCode": "const ctx = $node['Build Batch Context'].json;\nconst receipt = $node['Submit Batch Receipt'].json;\nconst issue = $node['Submit Batch Issue'].json;\nconst bin = $('Verify Batch Bin').all().map(i => i.json);\nconst sle = $('Verify Batch SLE').all().map(i => i.json);\nconst expectedQty = ctx.receiptQty - ctx.issueQty;\nconst text = JSON.stringify({ ctx, receipt, issue, bin, sle });\nconst securityFindings = ['api key', 'api_secret', 'authorization', 'token ', 'password'].filter(term => text.toLowerCase().includes(term));\nconst hasReceiptLedger = sle.some(row => row.voucher_no === $node['Create Batch Receipt'].json.name && Number(row.actual_qty) === ctx.receiptQty && Number(row.qty_after_transaction) === ctx.receiptQty);\nconst hasIssueLedger = sle.some(row => row.voucher_no === $node['Create Batch Issue'].json.name && Number(row.actual_qty) === -ctx.issueQty && Number(row.qty_after_transaction) === expectedQty);\nconst status = Number(receipt.docstatus) === 1 && Number(issue.docstatus) === 1 && Number(bin[0]?.actual_qty) === expectedQty && hasReceiptLedger && hasIssueLedger ? 'passed' : 'failed';\nreturn [{ json: { status, runId: ctx.runId, item: $node['Create Batch Item'].json.name, batch: $node['Create Batch'].json.name, warehouse: $node['Create Batch Warehouse'].json.name, receipt: $node['Create Batch Receipt'].json.name, receiptDocstatus: receipt.docstatus, issue: $node['Create Batch Issue'].json.name, issueDocstatus: issue.docstatus, binActualQty: bin[0]?.actual_qty, batchLedgerRows: sle.length, batchLedgerActualQty: sle.map(row => ({ voucher_no: row.voucher_no, batch_no: row.batch_no, actual_qty: row.actual_qty, qty_after_transaction: row.qty_after_transaction })), batchTrackingNote: 'ERPNext v16 stores batch detail in Serial and Batch Bundle/Entry; DB verification records the exact batch_no.', securityFindings } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [1240, 0],
        "id": "return-safe-batch-summary",
        "name": "Return Safe Batch Summary"
      }
    ],
    "connections": {
      "POST Webhook": { "main": [[{ "node": "Build Batch Context", "type": "main", "index": 0 }]] },
      "Build Batch Context": { "main": [[{ "node": "Create Batch Item Group", "type": "main", "index": 0 }]] },
      "Create Batch Item Group": { "main": [[{ "node": "Create Batch Warehouse", "type": "main", "index": 0 }]] },
      "Create Batch Warehouse": { "main": [[{ "node": "Create Batch Item", "type": "main", "index": 0 }]] },
      "Create Batch Item": { "main": [[{ "node": "Create Batch", "type": "main", "index": 0 }]] },
      "Create Batch": { "main": [[{ "node": "Create Batch Receipt", "type": "main", "index": 0 }]] },
      "Create Batch Receipt": { "main": [[{ "node": "Submit Batch Receipt", "type": "main", "index": 0 }]] },
      "Submit Batch Receipt": { "main": [[{ "node": "Create Batch Issue", "type": "main", "index": 0 }]] },
      "Create Batch Issue": { "main": [[{ "node": "Submit Batch Issue", "type": "main", "index": 0 }]] },
      "Submit Batch Issue": { "main": [[{ "node": "Verify Batch Bin", "type": "main", "index": 0 }]] },
      "Verify Batch Bin": { "main": [[{ "node": "Verify Batch SLE", "type": "main", "index": 0 }]] },
      "Verify Batch SLE": { "main": [[{ "node": "Return Safe Batch Summary", "type": "main", "index": 0 }]] },
      "Return Safe Batch Summary": { "main": [[]] }
    },
    "settings": { "executionOrder": "v1", "binaryMode": "separate" },
    "staticData": null,
    "pinData": {},
    "meta": { "templateCredsSetupCompleted": true },
    "tags": []
  }
]
