n8n-webhook-erpnext-stock-v2-e2e-exception-return-warranty-lifecycle-test.workflow.json
[
  {
    "id": "stockE2EExcV2Test01",
    "name": "ERPNext Stock V2 E2E Exception Return Warranty Lifecycle Test",
    "active": false,
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "erpnext-stock-v2-e2e-exception-return-warranty-lifecycle-test",
          "responseMode": "lastNode",
          "responseData": "allEntries",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -1900,
          0
        ],
        "id": "e2e-exception-return-warranty-webhook",
        "name": "POST Webhook",
        "webhookId": "erpnext-stock-v2-e2e-exception-return-warranty-lifecycle-test"
      },
      {
        "parameters": {
          "jsCode": "const now = new Date();\nconst today = now.toISOString().slice(0, 10);\nconst due = new Date(now.getTime() + 7 * 24 * 60 * 60 * 1000).toISOString().slice(0, 10);\nconst runId = `N8N-STOCK-E2E-EXC-${Date.now()}`;\nreturn [{ json: { runId, company: 'Thái Duy Digital', parentWarehouse: 'All Warehouses - TDD', postingDate: today, dueDate: due, customerName: `${runId} KH vòng đời ngoại lệ`, itemGroup: `${runId} Nhóm ngoại lệ sau bán`, sellWarehouseName: `${runId} Kho bán`, warrantyWarehouseName: `${runId} Kho bảo hành`, defectWarehouseName: `${runId} Kho hàng lỗi`, repairWarehouseName: `${runId} Kho xưởng ảo`, itemCode: `${runId} Hàng bán lỗi đổi trả`, receiptQty: 5, saleQty: 2, returnQty: 1, rate: 91, accounts: { receivable: '1310 - Debtors - TDD', sales: '4110 - Sales - TDD' } } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1680,
          0
        ],
        "id": "build-e2e-exception-context",
        "name": "Build E2E Exception Context"
      },
      {
        "parameters": {
          "resource": "customDocType",
          "customDocType": "Customer",
          "apiVersion": "v2",
          "operation": "create",
          "dataJson": "={{ JSON.stringify({ customer_name: $node[\"Build E2E Exception Context\"].json.customerName, customer_type: \"Company\", customer_group: \"Individual\", territory: \"Vietnam\" }) }}"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [
          -1460,
          0
        ],
        "id": "create-return-customer",
        "name": "Create Return Customer",
        "credentials": {
          "erpNextApi": {
            "id": "9hFY985G0WpX5Xyt",
            "name": "ERPNext account"
          }
        }
      },
      {
        "parameters": {
          "resource": "itemGroup",
          "apiVersion": "v2",
          "operation": "create",
          "dataJson": "={{ JSON.stringify({ item_group_name: $node[\"Build E2E Exception Context\"].json.itemGroup, parent_item_group: \"All Item Groups\", is_group: 0 }) }}"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [
          -1240,
          0
        ],
        "id": "create-return-item-group",
        "name": "Create Return Item Group",
        "credentials": {
          "erpNextApi": {
            "id": "9hFY985G0WpX5Xyt",
            "name": "ERPNext account"
          }
        }
      },
      {
        "parameters": {
          "resource": "warehouse",
          "apiVersion": "v2",
          "operation": "create",
          "dataJson": "={{ JSON.stringify({ warehouse_name: $node[\"Build E2E Exception Context\"].json.sellWarehouseName, parent_warehouse: $node[\"Build E2E Exception Context\"].json.parentWarehouse, company: $node[\"Build E2E Exception Context\"].json.company, is_group: 0 }) }}"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [
          -1020,
          0
        ],
        "id": "create-sellable-warehouse",
        "name": "Create Sellable Warehouse",
        "credentials": {
          "erpNextApi": {
            "id": "9hFY985G0WpX5Xyt",
            "name": "ERPNext account"
          }
        }
      },
      {
        "parameters": {
          "resource": "warehouse",
          "apiVersion": "v2",
          "operation": "create",
          "dataJson": "={{ JSON.stringify({ warehouse_name: $node[\"Build E2E Exception Context\"].json.warrantyWarehouseName, parent_warehouse: $node[\"Build E2E Exception Context\"].json.parentWarehouse, company: $node[\"Build E2E Exception Context\"].json.company, is_group: 0 }) }}"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [
          -800,
          0
        ],
        "id": "create-warranty-warehouse",
        "name": "Create Warranty Warehouse",
        "credentials": {
          "erpNextApi": {
            "id": "9hFY985G0WpX5Xyt",
            "name": "ERPNext account"
          }
        }
      },
      {
        "parameters": {
          "resource": "warehouse",
          "apiVersion": "v2",
          "operation": "create",
          "dataJson": "={{ JSON.stringify({ warehouse_name: $node[\"Build E2E Exception Context\"].json.defectWarehouseName, parent_warehouse: $node[\"Build E2E Exception Context\"].json.parentWarehouse, company: $node[\"Build E2E Exception Context\"].json.company, is_group: 0 }) }}"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [
          -580,
          0
        ],
        "id": "create-defect-warehouse",
        "name": "Create Defect Warehouse",
        "credentials": {
          "erpNextApi": {
            "id": "9hFY985G0WpX5Xyt",
            "name": "ERPNext account"
          }
        }
      },
      {
        "parameters": {
          "resource": "warehouse",
          "apiVersion": "v2",
          "operation": "create",
          "dataJson": "={{ JSON.stringify({ warehouse_name: $node[\"Build E2E Exception Context\"].json.repairWarehouseName, parent_warehouse: $node[\"Build E2E Exception Context\"].json.parentWarehouse, company: $node[\"Build E2E Exception Context\"].json.company, is_group: 0 }) }}"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [
          -360,
          0
        ],
        "id": "create-repair-warehouse",
        "name": "Create Repair Warehouse",
        "credentials": {
          "erpNextApi": {
            "id": "9hFY985G0WpX5Xyt",
            "name": "ERPNext account"
          }
        }
      },
      {
        "parameters": {
          "resource": "item",
          "apiVersion": "v2",
          "operation": "create",
          "dataJson": "={{ JSON.stringify({ item_code: $node[\"Build E2E Exception Context\"].json.itemCode, item_name: $node[\"Build E2E Exception Context\"].json.itemCode, item_group: $node[\"Create Return Item Group\"].json.name, stock_uom: \"Unit\", is_stock_item: 1, is_purchase_item: 1, is_sales_item: 1, valuation_rate: $node[\"Build E2E Exception Context\"].json.rate, standard_rate: $node[\"Build E2E Exception Context\"].json.rate }) }}"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [
          -140,
          0
        ],
        "id": "create-return-item",
        "name": "Create Return Item",
        "credentials": {
          "erpNextApi": {
            "id": "9hFY985G0WpX5Xyt",
            "name": "ERPNext account"
          }
        }
      },
      {
        "parameters": {
          "resource": "stockEntry",
          "apiVersion": "v2",
          "operation": "create",
          "dataJson": "={{ JSON.stringify({ stock_entry_type: \"Material Receipt\", company: $node[\"Build E2E Exception Context\"].json.company, posting_date: $node[\"Build E2E Exception Context\"].json.postingDate, items: [{ item_code: $node[\"Create Return Item\"].json.name, t_warehouse: $node[\"Create Sellable Warehouse\"].json.name, qty: $node[\"Build E2E Exception Context\"].json.receiptQty, basic_rate: $node[\"Build E2E Exception Context\"].json.rate }] }) }}"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [
          80,
          0
        ],
        "id": "create-retail-receipt",
        "name": "Create Retail Receipt",
        "credentials": {
          "erpNextApi": {
            "id": "9hFY985G0WpX5Xyt",
            "name": "ERPNext account"
          }
        }
      },
      {
        "parameters": {
          "resource": "stockEntry",
          "apiVersion": "v2",
          "operation": "submit",
          "documentName": "={{ $node[\"Create Retail Receipt\"].json.name }}"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [
          300,
          0
        ],
        "id": "submit-retail-receipt",
        "name": "Submit Retail Receipt",
        "credentials": {
          "erpNextApi": {
            "id": "9hFY985G0WpX5Xyt",
            "name": "ERPNext account"
          }
        }
      },
      {
        "parameters": {
          "resource": "salesInvoice",
          "apiVersion": "v2",
          "operation": "create",
          "dataJson": "={{ JSON.stringify({ customer: $node[\"Create Return Customer\"].json.name, company: $node[\"Build E2E Exception Context\"].json.company, posting_date: $node[\"Build E2E Exception Context\"].json.postingDate, due_date: $node[\"Build E2E Exception Context\"].json.dueDate, update_stock: 1, set_warehouse: $node[\"Create Sellable Warehouse\"].json.name, debit_to: $node[\"Build E2E Exception Context\"].json.accounts.receivable, items: [{ item_code: $node[\"Create Return Item\"].json.name, warehouse: $node[\"Create Sellable Warehouse\"].json.name, qty: $node[\"Build E2E Exception Context\"].json.saleQty, rate: $node[\"Build E2E Exception Context\"].json.rate, income_account: $node[\"Build E2E Exception Context\"].json.accounts.sales }] }) }}"
        },
        "type": "n8n-nodes-erpnext-accounting.erpNextAccounting",
        "typeVersion": 1,
        "position": [
          520,
          0
        ],
        "id": "create-stock-sales-invoice",
        "name": "Create Stock Sales Invoice",
        "credentials": {
          "erpNextApi": {
            "id": "9hFY985G0WpX5Xyt",
            "name": "ERPNext account"
          }
        }
      },
      {
        "parameters": {
          "resource": "salesInvoice",
          "apiVersion": "v2",
          "operation": "submit",
          "documentName": "={{ $node[\"Create Stock Sales Invoice\"].json.name }}"
        },
        "type": "n8n-nodes-erpnext-accounting.erpNextAccounting",
        "typeVersion": 1,
        "position": [
          740,
          0
        ],
        "id": "submit-stock-sales-invoice",
        "name": "Submit Stock Sales Invoice",
        "credentials": {
          "erpNextApi": {
            "id": "9hFY985G0WpX5Xyt",
            "name": "ERPNext account"
          }
        }
      },
      {
        "parameters": {
          "resource": "salesInvoice",
          "apiVersion": "v2",
          "operation": "create",
          "dataJson": "={{ JSON.stringify({ customer: $node[\"Create Return Customer\"].json.name, company: $node[\"Build E2E Exception Context\"].json.company, posting_date: $node[\"Build E2E Exception Context\"].json.postingDate, due_date: $node[\"Build E2E Exception Context\"].json.dueDate, update_stock: 1, is_return: 1, return_against: $node[\"Submit Stock Sales Invoice\"].json.name, set_warehouse: $node[\"Create Warranty Warehouse\"].json.name, debit_to: $node[\"Build E2E Exception Context\"].json.accounts.receivable, items: [{ item_code: $node[\"Create Return Item\"].json.name, warehouse: $node[\"Create Warranty Warehouse\"].json.name, qty: -$node[\"Build E2E Exception Context\"].json.returnQty, rate: $node[\"Build E2E Exception Context\"].json.rate, income_account: $node[\"Build E2E Exception Context\"].json.accounts.sales }] }) }}"
        },
        "type": "n8n-nodes-erpnext-accounting.erpNextAccounting",
        "typeVersion": 1,
        "position": [
          960,
          0
        ],
        "id": "create-return-credit-note",
        "name": "Create Return Credit Note",
        "credentials": {
          "erpNextApi": {
            "id": "9hFY985G0WpX5Xyt",
            "name": "ERPNext account"
          }
        }
      },
      {
        "parameters": {
          "resource": "salesInvoice",
          "apiVersion": "v2",
          "operation": "submit",
          "documentName": "={{ $node[\"Create Return Credit Note\"].json.name }}"
        },
        "type": "n8n-nodes-erpnext-accounting.erpNextAccounting",
        "typeVersion": 1,
        "position": [
          1180,
          0
        ],
        "id": "submit-return-credit-note",
        "name": "Submit Return Credit Note",
        "credentials": {
          "erpNextApi": {
            "id": "9hFY985G0WpX5Xyt",
            "name": "ERPNext account"
          }
        }
      },
      {
        "parameters": {
          "resource": "stockEntry",
          "apiVersion": "v2",
          "operation": "create",
          "dataJson": "={{ JSON.stringify({ stock_entry_type: \"Material Transfer\", company: $node[\"Build E2E Exception Context\"].json.company, posting_date: $node[\"Build E2E Exception Context\"].json.postingDate, from_warehouse: $node[\"Create Warranty Warehouse\"].json.name, to_warehouse: $node[\"Create Defect Warehouse\"].json.name, items: [{ item_code: $node[\"Create Return Item\"].json.name, s_warehouse: $node[\"Create Warranty Warehouse\"].json.name, t_warehouse: $node[\"Create Defect Warehouse\"].json.name, qty: $node[\"Build E2E Exception Context\"].json.returnQty, basic_rate: $node[\"Build E2E Exception Context\"].json.rate }] }) }}"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [
          1400,
          0
        ],
        "id": "create-warranty-to-defect-transfer",
        "name": "Create Warranty To Defect Transfer",
        "credentials": {
          "erpNextApi": {
            "id": "9hFY985G0WpX5Xyt",
            "name": "ERPNext account"
          }
        }
      },
      {
        "parameters": {
          "resource": "stockEntry",
          "apiVersion": "v2",
          "operation": "submit",
          "documentName": "={{ $node[\"Create Warranty To Defect Transfer\"].json.name }}"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [
          1620,
          0
        ],
        "id": "submit-warranty-to-defect-transfer",
        "name": "Submit Warranty To Defect Transfer",
        "credentials": {
          "erpNextApi": {
            "id": "9hFY985G0WpX5Xyt",
            "name": "ERPNext account"
          }
        }
      },
      {
        "parameters": {
          "resource": "stockEntry",
          "apiVersion": "v2",
          "operation": "create",
          "dataJson": "={{ JSON.stringify({ stock_entry_type: \"Material Transfer\", company: $node[\"Build E2E Exception Context\"].json.company, posting_date: $node[\"Build E2E Exception Context\"].json.postingDate, from_warehouse: $node[\"Create Defect Warehouse\"].json.name, to_warehouse: $node[\"Create Repair Warehouse\"].json.name, items: [{ item_code: $node[\"Create Return Item\"].json.name, s_warehouse: $node[\"Create Defect Warehouse\"].json.name, t_warehouse: $node[\"Create Repair Warehouse\"].json.name, qty: $node[\"Build E2E Exception Context\"].json.returnQty, basic_rate: $node[\"Build E2E Exception Context\"].json.rate }] }) }}"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [
          1840,
          0
        ],
        "id": "create-defect-to-repair-transfer",
        "name": "Create Defect To Repair Transfer",
        "credentials": {
          "erpNextApi": {
            "id": "9hFY985G0WpX5Xyt",
            "name": "ERPNext account"
          }
        }
      },
      {
        "parameters": {
          "resource": "stockEntry",
          "apiVersion": "v2",
          "operation": "submit",
          "documentName": "={{ $node[\"Create Defect To Repair Transfer\"].json.name }}"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [
          2060,
          0
        ],
        "id": "submit-defect-to-repair-transfer",
        "name": "Submit Defect To Repair Transfer",
        "credentials": {
          "erpNextApi": {
            "id": "9hFY985G0WpX5Xyt",
            "name": "ERPNext account"
          }
        }
      },
      {
        "parameters": {
          "resource": "stockEntry",
          "apiVersion": "v2",
          "operation": "create",
          "dataJson": "={{ JSON.stringify({ stock_entry_type: \"Material Issue\", company: $node[\"Build E2E Exception Context\"].json.company, posting_date: $node[\"Build E2E Exception Context\"].json.postingDate, items: [{ item_code: $node[\"Create Return Item\"].json.name, s_warehouse: $node[\"Create Repair Warehouse\"].json.name, qty: $node[\"Build E2E Exception Context\"].json.returnQty, basic_rate: $node[\"Build E2E Exception Context\"].json.rate }] }) }}"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [
          2280,
          0
        ],
        "id": "create-repair-disposal-issue",
        "name": "Create Repair Disposal Issue",
        "credentials": {
          "erpNextApi": {
            "id": "9hFY985G0WpX5Xyt",
            "name": "ERPNext account"
          }
        }
      },
      {
        "parameters": {
          "resource": "stockEntry",
          "apiVersion": "v2",
          "operation": "submit",
          "documentName": "={{ $node[\"Create Repair Disposal Issue\"].json.name }}"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [
          2500,
          0
        ],
        "id": "submit-repair-disposal-issue",
        "name": "Submit Repair Disposal Issue",
        "credentials": {
          "erpNextApi": {
            "id": "9hFY985G0WpX5Xyt",
            "name": "ERPNext account"
          }
        }
      },
      {
        "parameters": {
          "resource": "bin",
          "apiVersion": "v2",
          "operation": "getMany",
          "fields": "name,item_code,warehouse,actual_qty,valuation_rate,stock_value",
          "filtersJson": "={{ JSON.stringify({ item_code: $('Create Return Item').first().json.name }) }}",
          "limit": 20,
          "orderBy": "warehouse asc"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [
          2720,
          0
        ],
        "id": "verify-return-bins",
        "name": "Verify Return Bins",
        "credentials": {
          "erpNextApi": {
            "id": "9hFY985G0WpX5Xyt",
            "name": "ERPNext account"
          }
        }
      },
      {
        "parameters": {
          "resource": "stockLedgerEntry",
          "apiVersion": "v2",
          "operation": "getMany",
          "fields": "name,item_code,warehouse,actual_qty,qty_after_transaction,voucher_type,voucher_no,is_cancelled",
          "filtersJson": "={{ JSON.stringify({ item_code: $('Create Return Item').first().json.name }) }}",
          "limit": 50,
          "orderBy": "creation asc"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [
          2940,
          0
        ],
        "id": "verify-return-sle",
        "name": "Verify Return SLE",
        "credentials": {
          "erpNextApi": {
            "id": "9hFY985G0WpX5Xyt",
            "name": "ERPNext account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "return [{ json: { continueAfterBinVerification: true } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2830,
          0
        ],
        "id": "collapse-return-bins-for-sle",
        "name": "Collapse Return Bins For SLE"
      },
      {
        "parameters": {
          "jsCode": "const ctx = $('Build E2E Exception Context').first().json;\nconst bins = $('Verify Return Bins').all().map(i => i.json);\nconst sleRows = $('Verify Return SLE').all().map(i => i.json);\nconst invoice = $('Submit Stock Sales Invoice').first().json;\nconst creditNote = $('Submit Return Credit Note').first().json;\nconst saleWh = $('Create Sellable Warehouse').first().json.name;\nconst warrantyWh = $('Create Warranty Warehouse').first().json.name;\nconst defectWh = $('Create Defect Warehouse').first().json.name;\nconst repairWh = $('Create Repair Warehouse').first().json.name;\nconst byWarehouse = Object.fromEntries(bins.map(row => [row.warehouse, Number(row.actual_qty)]));\nconst saleRows = sleRows.filter(row => row.voucher_no === $('Create Stock Sales Invoice').first().json.name);\nconst returnRows = sleRows.filter(row => row.voucher_no === $('Create Return Credit Note').first().json.name);\nconst status = Number(invoice.docstatus) === 1 && Number(creditNote.docstatus) === 1 && byWarehouse[saleWh] === ctx.receiptQty - ctx.saleQty && (byWarehouse[warrantyWh] ?? 0) === 0 && (byWarehouse[defectWh] ?? 0) === 0 && (byWarehouse[repairWh] ?? 0) === 0 && saleRows.some(row => Number(row.actual_qty) === -ctx.saleQty) && returnRows.some(row => Number(row.actual_qty) === ctx.returnQty);\nconst text = JSON.stringify({ bins, sleRows, invoice: { name: invoice.name, docstatus: invoice.docstatus }, creditNote: { name: creditNote.name, docstatus: creditNote.docstatus, return_against: creditNote.return_against } });\nconst securityFindings = ['api key', 'api_secret', 'authorization', 'token ', 'password'].filter(term => text.toLowerCase().includes(term));\nreturn [{ json: { status: status && securityFindings.length === 0 ? 'passed' : 'failed', runId: ctx.runId, item: $('Create Return Item').first().json.name, customer: $('Create Return Customer').first().json.name, salesInvoice: invoice.name, salesInvoiceDocstatus: invoice.docstatus, creditNote: creditNote.name, creditNoteDocstatus: creditNote.docstatus, creditNoteReturnAgainst: creditNote.return_against, sellableWarehouse: saleWh, warrantyWarehouse: warrantyWh, defectWarehouse: defectWh, repairWarehouse: repairWh, sellableQtyFinal: byWarehouse[saleWh], warrantyQtyFinal: byWarehouse[warrantyWh] ?? 0, defectQtyFinal: byWarehouse[defectWh] ?? 0, repairQtyFinal: byWarehouse[repairWh] ?? 0, stockEntries: { receipt: $('Create Retail Receipt').first().json.name, warrantyToDefect: $('Create Warranty To Defect Transfer').first().json.name, defectToRepair: $('Create Defect To Repair Transfer').first().json.name, disposalIssue: $('Create Repair Disposal Issue').first().json.name }, ledgerRows: sleRows.length, saleLedgerActualQty: saleRows.map(row => row.actual_qty), returnLedgerActualQty: returnRows.map(row => row.actual_qty), securityFindings } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3160,
          0
        ],
        "id": "return-safe-e2e-exception-summary",
        "name": "Return Safe E2E Exception Summary"
      }
    ],
    "connections": {
      "POST Webhook": {
        "main": [
          [
            {
              "node": "Build E2E Exception Context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Return Customer": {
        "main": [
          [
            {
              "node": "Create Return Item Group",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Return Item Group": {
        "main": [
          [
            {
              "node": "Create Sellable Warehouse",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Sellable Warehouse": {
        "main": [
          [
            {
              "node": "Create Warranty Warehouse",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Warranty Warehouse": {
        "main": [
          [
            {
              "node": "Create Defect Warehouse",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Defect Warehouse": {
        "main": [
          [
            {
              "node": "Create Repair Warehouse",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Repair Warehouse": {
        "main": [
          [
            {
              "node": "Create Return Item",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Return Item": {
        "main": [
          [
            {
              "node": "Create Retail Receipt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Retail Receipt": {
        "main": [
          [
            {
              "node": "Submit Retail Receipt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Submit Retail Receipt": {
        "main": [
          [
            {
              "node": "Create Stock Sales Invoice",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Stock Sales Invoice": {
        "main": [
          [
            {
              "node": "Submit Stock Sales Invoice",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Submit Stock Sales Invoice": {
        "main": [
          [
            {
              "node": "Create Return Credit Note",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Return Credit Note": {
        "main": [
          [
            {
              "node": "Submit Return Credit Note",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Submit Return Credit Note": {
        "main": [
          [
            {
              "node": "Create Warranty To Defect Transfer",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Warranty To Defect Transfer": {
        "main": [
          [
            {
              "node": "Submit Warranty To Defect Transfer",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Submit Warranty To Defect Transfer": {
        "main": [
          [
            {
              "node": "Create Defect To Repair Transfer",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Defect To Repair Transfer": {
        "main": [
          [
            {
              "node": "Submit Defect To Repair Transfer",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Submit Defect To Repair Transfer": {
        "main": [
          [
            {
              "node": "Create Repair Disposal Issue",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Repair Disposal Issue": {
        "main": [
          [
            {
              "node": "Submit Repair Disposal Issue",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Submit Repair Disposal Issue": {
        "main": [
          [
            {
              "node": "Verify Return Bins",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Verify Return Bins": {
        "main": [
          [
            {
              "node": "Collapse Return Bins For SLE",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Collapse Return Bins For SLE": {
        "main": [
          [
            {
              "node": "Verify Return SLE",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Verify Return SLE": {
        "main": [
          [
            {
              "node": "Return Safe E2E Exception Summary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build E2E Exception Context": {
        "main": [
          [
            {
              "node": "Create Return Customer",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Return Safe E2E Exception Summary": {
        "main": [
          []
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate"
    },
    "staticData": null,
    "pinData": {},
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "tags": []
  }
]
