n8n-webhook-erpnext-stock-v2-e2e-standard-product-lifecycle-test.workflow.json
[
  {
    "id": "stockE2EStdV2Test01",
    "name": "ERPNext Stock V2 E2E Standard Product Lifecycle Test",
    "active": false,
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "erpnext-stock-v2-e2e-standard-product-lifecycle-test",
          "responseMode": "lastNode",
          "responseData": "allEntries",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -1700,
          0
        ],
        "id": "e2e-standard-product-webhook",
        "name": "POST Webhook",
        "webhookId": "erpnext-stock-v2-e2e-standard-product-lifecycle-test"
      },
      {
        "parameters": {
          "jsCode": "const now = new Date();\nconst today = now.toISOString().slice(0, 10);\nconst due = new Date(now.getTime() + 7 * 24 * 60 * 60 * 1000).toISOString().slice(0, 10);\nconst runId = `N8N-STOCK-E2E-STD-${Date.now()}`;\nreturn [{ json: { runId, company: 'Thái Duy Digital', parentWarehouse: 'All Warehouses - TDD', postingDate: today, dueDate: due, supplierName: `${runId} NCC chuẩn`, customerName: `${runId} KH chuẩn`, itemGroup: `${runId} Nhóm hàng chuẩn`, warehouseName: `${runId} Kho chuẩn`, itemCode: `${runId} Hàng chuẩn mua bán`, purchaseQty: 5, saleQty: 2, rate: 72, saleRate: 96, accounts: { payable: '2110 - Creditors - TDD', expense: '5111 - Cost of Goods Sold - TDD', receivable: '1310 - Debtors - TDD', sales: '4110 - Sales - TDD' } } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1480,
          0
        ],
        "id": "build-e2e-standard-context",
        "name": "Build E2E Standard Context"
      },
      {
        "parameters": {
          "resource": "supplier",
          "apiVersion": "v2",
          "operation": "create",
          "dataJson": "={{ JSON.stringify({ supplier_name: $node[\"Build E2E Standard Context\"].json.supplierName, supplier_type: \"Company\", supplier_group: \"All Supplier Groups\" }) }}"
        },
        "type": "n8n-nodes-erpnext-buying.erpNextBuying",
        "typeVersion": 1,
        "position": [
          -1260,
          0
        ],
        "id": "create-buying-lock-supplier",
        "name": "Create Buying Lock Supplier",
        "credentials": {
          "erpNextApi": {
            "id": "9hFY985G0WpX5Xyt",
            "name": "ERPNext account"
          }
        }
      },
      {
        "parameters": {
          "resource": "itemGroup",
          "apiVersion": "v2",
          "operation": "create",
          "dataJson": "={{ JSON.stringify({ item_group_name: $node[\"Build E2E Standard Context\"].json.itemGroup, parent_item_group: \"All Item Groups\", is_group: 0 }) }}"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [
          -1040,
          0
        ],
        "id": "create-buying-lock-item-group",
        "name": "Create Buying Lock Item Group",
        "credentials": {
          "erpNextApi": {
            "id": "9hFY985G0WpX5Xyt",
            "name": "ERPNext account"
          }
        }
      },
      {
        "parameters": {
          "resource": "warehouse",
          "apiVersion": "v2",
          "operation": "create",
          "dataJson": "={{ JSON.stringify({ warehouse_name: $node[\"Build E2E Standard Context\"].json.warehouseName, parent_warehouse: $node[\"Build E2E Standard Context\"].json.parentWarehouse, company: $node[\"Build E2E Standard Context\"].json.company, is_group: 0 }) }}"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [
          -820,
          0
        ],
        "id": "create-buying-lock-warehouse",
        "name": "Create Buying Lock Warehouse",
        "credentials": {
          "erpNextApi": {
            "id": "9hFY985G0WpX5Xyt",
            "name": "ERPNext account"
          }
        }
      },
      {
        "parameters": {
          "resource": "item",
          "apiVersion": "v2",
          "operation": "create",
          "dataJson": "={{ JSON.stringify({ item_code: $node[\"Build E2E Standard Context\"].json.itemCode, item_name: $node[\"Build E2E Standard Context\"].json.itemCode, item_group: $node[\"Create Buying Lock Item Group\"].json.name, stock_uom: \"Unit\", is_stock_item: 1, is_purchase_item: 1, is_sales_item: 1, valuation_rate: $node[\"Build E2E Standard Context\"].json.rate, standard_rate: $node[\"Build E2E Standard Context\"].json.rate }) }}"
        },
        "type": "n8n-nodes-erpnext-buying.erpNextBuying",
        "typeVersion": 1,
        "position": [
          -600,
          0
        ],
        "id": "create-buying-lock-item",
        "name": "Create Buying Lock Item",
        "credentials": {
          "erpNextApi": {
            "id": "9hFY985G0WpX5Xyt",
            "name": "ERPNext account"
          }
        }
      },
      {
        "parameters": {
          "resource": "purchaseReceipt",
          "apiVersion": "v2",
          "operation": "create",
          "dataJson": "={{ JSON.stringify({ supplier: $node[\"Create Buying Lock Supplier\"].json.name, company: $node[\"Build E2E Standard Context\"].json.company, posting_date: $node[\"Build E2E Standard Context\"].json.postingDate, set_warehouse: $node[\"Create Buying Lock Warehouse\"].json.name, items: [{ item_code: $node[\"Create Buying Lock Item\"].json.name, qty: $node[\"Build E2E Standard Context\"].json.purchaseQty, rate: $node[\"Build E2E Standard Context\"].json.rate, warehouse: $node[\"Create Buying Lock Warehouse\"].json.name }] }) }}"
        },
        "type": "n8n-nodes-erpnext-buying.erpNextBuying",
        "typeVersion": 1,
        "position": [
          -380,
          0
        ],
        "id": "create-buying-purchase-receipt",
        "name": "Create Buying Purchase Receipt",
        "credentials": {
          "erpNextApi": {
            "id": "9hFY985G0WpX5Xyt",
            "name": "ERPNext account"
          }
        }
      },
      {
        "parameters": {
          "resource": "purchaseReceipt",
          "apiVersion": "v2",
          "operation": "submit",
          "documentName": "={{ $node[\"Create Buying Purchase Receipt\"].json.name }}"
        },
        "type": "n8n-nodes-erpnext-buying.erpNextBuying",
        "typeVersion": 1,
        "position": [
          -160,
          0
        ],
        "id": "submit-buying-purchase-receipt",
        "name": "Submit Buying Purchase Receipt",
        "credentials": {
          "erpNextApi": {
            "id": "9hFY985G0WpX5Xyt",
            "name": "ERPNext account"
          }
        }
      },
      {
        "parameters": {
          "resource": "bin",
          "apiVersion": "v2",
          "operation": "getMany",
          "fields": "name,item_code,warehouse,actual_qty,valuation_rate,stock_value",
          "filtersJson": "={{ JSON.stringify({ item_code: $node[\"Create Buying Lock Item\"].json.name, warehouse: $node[\"Create Buying Lock Warehouse\"].json.name }) }}",
          "limit": 10
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [
          60,
          0
        ],
        "id": "verify-buying-bin-after-receipt",
        "name": "Verify Buying Bin After Receipt",
        "credentials": {
          "erpNextApi": {
            "id": "9hFY985G0WpX5Xyt",
            "name": "ERPNext account"
          }
        }
      },
      {
        "parameters": {
          "resource": "stockLedgerEntry",
          "apiVersion": "v2",
          "operation": "getMany",
          "fields": "name,item_code,warehouse,actual_qty,qty_after_transaction,voucher_type,voucher_no,is_cancelled",
          "filtersJson": "={{ JSON.stringify({ voucher_type: \"Purchase Receipt\", voucher_no: $node[\"Create Buying Purchase Receipt\"].json.name }) }}",
          "limit": 20,
          "orderBy": "creation asc"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [
          280,
          0
        ],
        "id": "verify-buying-sle-after-receipt",
        "name": "Verify Buying SLE After Receipt",
        "credentials": {
          "erpNextApi": {
            "id": "9hFY985G0WpX5Xyt",
            "name": "ERPNext account"
          }
        }
      },
      {
        "parameters": {
          "resource": "purchaseReceipt",
          "apiVersion": "v2",
          "operation": "get",
          "documentName": "={{ $node[\"Create Buying Purchase Receipt\"].json.name }}"
        },
        "type": "n8n-nodes-erpnext-buying.erpNextBuying",
        "typeVersion": 1,
        "position": [
          500,
          0
        ],
        "id": "get-buying-purchase-receipt",
        "name": "Get Buying Purchase Receipt",
        "credentials": {
          "erpNextApi": {
            "id": "9hFY985G0WpX5Xyt",
            "name": "ERPNext account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const ctx = $node['Build E2E Standard Context'].json;\nconst pr = $node['Get Buying Purchase Receipt'].json;\nconst row = pr.items[0];\nreturn [{ json: { payload: { supplier: $node['Create Buying Lock Supplier'].json.name, company: ctx.company, posting_date: ctx.postingDate, due_date: ctx.dueDate, credit_to: ctx.accounts.payable, remarks: `${ctx.runId} purchase invoice linked to purchase receipt`, items: [{ item_code: row.item_code, qty: row.qty, rate: row.rate, expense_account: ctx.accounts.expense, purchase_receipt: pr.name, pr_detail: row.name }] } } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          720,
          0
        ],
        "id": "build-linked-purchase-invoice-payload",
        "name": "Build Linked Purchase Invoice Payload"
      },
      {
        "parameters": {
          "resource": "purchaseInvoice",
          "apiVersion": "v2",
          "operation": "create",
          "dataJson": "={{ JSON.stringify($json.payload) }}"
        },
        "type": "n8n-nodes-erpnext-accounting.erpNextAccounting",
        "typeVersion": 1,
        "position": [
          940,
          0
        ],
        "id": "create-linked-purchase-invoice",
        "name": "Create Linked Purchase Invoice",
        "credentials": {
          "erpNextApi": {
            "id": "9hFY985G0WpX5Xyt",
            "name": "ERPNext account"
          }
        }
      },
      {
        "parameters": {
          "resource": "purchaseInvoice",
          "apiVersion": "v2",
          "operation": "submit",
          "documentName": "={{ $node[\"Create Linked Purchase Invoice\"].json.name }}"
        },
        "type": "n8n-nodes-erpnext-accounting.erpNextAccounting",
        "typeVersion": 1,
        "position": [
          1160,
          0
        ],
        "id": "submit-linked-purchase-invoice",
        "name": "Submit Linked Purchase Invoice",
        "credentials": {
          "erpNextApi": {
            "id": "9hFY985G0WpX5Xyt",
            "name": "ERPNext account"
          }
        }
      },
      {
        "parameters": {
          "resource": "purchaseReceipt",
          "apiVersion": "v2",
          "operation": "cancel",
          "documentName": "={{ $node[\"Create Buying Purchase Receipt\"].json.name }}"
        },
        "type": "n8n-nodes-erpnext-buying.erpNextBuying",
        "typeVersion": 1,
        "position": [
          1380,
          0
        ],
        "id": "try-cancel-invoiced-purchase-receipt",
        "name": "Try Cancel Invoiced Purchase Receipt",
        "credentials": {
          "erpNextApi": {
            "id": "9hFY985G0WpX5Xyt",
            "name": "ERPNext account"
          }
        },
        "continueOnFail": true
      },
      {
        "parameters": {
          "resource": "purchaseReceipt",
          "apiVersion": "v2",
          "operation": "get",
          "documentName": "={{ $node[\"Create Buying Purchase Receipt\"].json.name }}"
        },
        "type": "n8n-nodes-erpnext-buying.erpNextBuying",
        "typeVersion": 1,
        "position": [
          1600,
          0
        ],
        "id": "get-purchase-receipt-after-cancel-attempt",
        "name": "Get Purchase Receipt After Cancel Attempt",
        "credentials": {
          "erpNextApi": {
            "id": "9hFY985G0WpX5Xyt",
            "name": "ERPNext account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const ctx = $('Build E2E Standard Context').first().json;\nconst receiptBinRows = $('Verify Buying Bin After Receipt').all().map(i => i.json);\nconst finalBinRows = $('Verify E2E Final Bin').all().map(i => i.json);\nconst receiptSleRows = $('Verify Buying SLE After Receipt').all().map(i => i.json);\nconst saleSleRows = $('Verify E2E Sales SLE').all().map(i => i.json);\nconst cancelRows = $('Try Cancel Invoiced Purchase Receipt').all().map(i => i.json);\nconst prAfter = $('Get Purchase Receipt After Cancel Attempt').first().json;\nconst purchaseInvoice = $('Submit Linked Purchase Invoice').first().json;\nconst salesInvoice = $('Submit E2E Sales Invoice').first().json;\nconst receiptQty = Number(receiptBinRows[0]?.actual_qty ?? NaN);\nconst finalQty = Number(finalBinRows[0]?.actual_qty ?? NaN);\nconst expectedFinalQty = ctx.purchaseQty - ctx.saleQty;\nconst cancelFailed = cancelRows.some(row => row.error || row.message || row.httpCode || row.stack);\nconst text = JSON.stringify({ receiptBinRows, finalBinRows, receiptSleRows, saleSleRows, purchaseInvoice: { name: purchaseInvoice.name, docstatus: purchaseInvoice.docstatus }, salesInvoice: { name: salesInvoice.name, docstatus: salesInvoice.docstatus }, cancelRows, prAfter: { name: prAfter.name, docstatus: prAfter.docstatus } });\nconst securityFindings = ['api key', 'api_secret', 'authorization', 'token ', 'password'].filter(term => text.toLowerCase().includes(term));\nconst status = receiptQty === ctx.purchaseQty && finalQty === expectedFinalQty && receiptSleRows.some(row => Number(row.actual_qty) === ctx.purchaseQty) && saleSleRows.some(row => Number(row.actual_qty) === -ctx.saleQty) && Number(purchaseInvoice.docstatus) === 1 && Number(salesInvoice.docstatus) === 1 && Number(prAfter.docstatus) === 1 && cancelFailed && securityFindings.length === 0 ? 'passed' : 'failed';\nreturn [{ json: { status, runId: ctx.runId, supplier: $('Create Buying Lock Supplier').first().json.name, customer: $('Create E2E Customer').first().json.name, item: $('Create Buying Lock Item').first().json.name, warehouse: $('Create Buying Lock Warehouse').first().json.name, purchaseReceipt: $('Create Buying Purchase Receipt').first().json.name, purchaseReceiptDocstatusAfterCancelAttempt: prAfter.docstatus, purchaseInvoice: purchaseInvoice.name, purchaseInvoiceDocstatus: purchaseInvoice.docstatus, salesInvoice: salesInvoice.name, salesInvoiceDocstatus: salesInvoice.docstatus, purchaseQty: ctx.purchaseQty, saleQty: ctx.saleQty, binActualQtyAfterReceipt: receiptQty, finalBinActualQty: finalQty, receiptLedgerActualQty: receiptSleRows.map(row => row.actual_qty), salesLedgerActualQty: saleSleRows.map(row => row.actual_qty), purchaseReceiptCancelBlockedByInvoice: cancelFailed, securityFindings } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2920,
          0
        ],
        "id": "return-safe-e2e-standard-summary",
        "name": "Return Safe E2E Standard Summary"
      },
      {
        "parameters": {
          "resource": "customer",
          "apiVersion": "v2",
          "operation": "create",
          "dataJson": "={{ JSON.stringify({ customer_name: $(\"Build E2E Standard Context\").first().json.customerName, customer_type: \"Company\", customer_group: \"Individual\", territory: \"Vietnam\" }) }}"
        },
        "type": "n8n-nodes-erpnext-selling.erpNextSelling",
        "typeVersion": 1,
        "position": [
          1820,
          0
        ],
        "id": "create-e2e-customer",
        "name": "Create E2E Customer",
        "credentials": {
          "erpNextApi": {
            "id": "9hFY985G0WpX5Xyt",
            "name": "ERPNext account"
          }
        }
      },
      {
        "parameters": {
          "resource": "salesInvoice",
          "apiVersion": "v2",
          "operation": "create",
          "dataJson": "={{ JSON.stringify({ customer: $(\"Create E2E Customer\").first().json.name, company: $(\"Build E2E Standard Context\").first().json.company, posting_date: $(\"Build E2E Standard Context\").first().json.postingDate, due_date: $(\"Build E2E Standard Context\").first().json.dueDate, update_stock: 1, set_warehouse: $(\"Create Buying Lock Warehouse\").first().json.name, debit_to: $(\"Build E2E Standard Context\").first().json.accounts.receivable, items: [{ item_code: $(\"Create Buying Lock Item\").first().json.name, warehouse: $(\"Create Buying Lock Warehouse\").first().json.name, qty: $(\"Build E2E Standard Context\").first().json.saleQty, rate: $(\"Build E2E Standard Context\").first().json.saleRate, income_account: $(\"Build E2E Standard Context\").first().json.accounts.sales }] }) }}"
        },
        "type": "n8n-nodes-erpnext-accounting.erpNextAccounting",
        "typeVersion": 1,
        "position": [
          2040,
          0
        ],
        "id": "create-e2e-sales-invoice",
        "name": "Create E2E Sales Invoice",
        "credentials": {
          "erpNextApi": {
            "id": "9hFY985G0WpX5Xyt",
            "name": "ERPNext account"
          }
        }
      },
      {
        "parameters": {
          "resource": "salesInvoice",
          "apiVersion": "v2",
          "operation": "submit",
          "documentName": "={{ $(\"Create E2E Sales Invoice\").first().json.name }}"
        },
        "type": "n8n-nodes-erpnext-accounting.erpNextAccounting",
        "typeVersion": 1,
        "position": [
          2260,
          0
        ],
        "id": "submit-e2e-sales-invoice",
        "name": "Submit E2E Sales Invoice",
        "credentials": {
          "erpNextApi": {
            "id": "9hFY985G0WpX5Xyt",
            "name": "ERPNext account"
          }
        }
      },
      {
        "parameters": {
          "resource": "bin",
          "apiVersion": "v2",
          "operation": "getMany",
          "fields": "name,item_code,warehouse,actual_qty,valuation_rate,stock_value",
          "filtersJson": "={{ JSON.stringify({ item_code: $(\"Create Buying Lock Item\").first().json.name, warehouse: $(\"Create Buying Lock Warehouse\").first().json.name }) }}",
          "limit": 10
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [
          2480,
          0
        ],
        "id": "verify-e2e-final-bin",
        "name": "Verify E2E Final Bin",
        "credentials": {
          "erpNextApi": {
            "id": "9hFY985G0WpX5Xyt",
            "name": "ERPNext account"
          }
        }
      },
      {
        "parameters": {
          "resource": "stockLedgerEntry",
          "apiVersion": "v2",
          "operation": "getMany",
          "fields": "name,item_code,warehouse,actual_qty,qty_after_transaction,voucher_type,voucher_no,is_cancelled",
          "filtersJson": "={{ JSON.stringify({ voucher_type: \"Sales Invoice\", voucher_no: $(\"Create E2E Sales Invoice\").first().json.name }) }}",
          "limit": 20,
          "orderBy": "creation asc"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [
          2700,
          0
        ],
        "id": "verify-e2e-sales-sle",
        "name": "Verify E2E Sales SLE",
        "credentials": {
          "erpNextApi": {
            "id": "9hFY985G0WpX5Xyt",
            "name": "ERPNext account"
          }
        }
      }
    ],
    "connections": {
      "POST Webhook": {
        "main": [
          [
            {
              "node": "Build E2E Standard Context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Buying Lock Supplier": {
        "main": [
          [
            {
              "node": "Create Buying Lock Item Group",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Buying Lock Item Group": {
        "main": [
          [
            {
              "node": "Create Buying Lock Warehouse",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Buying Lock Warehouse": {
        "main": [
          [
            {
              "node": "Create Buying Lock Item",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Buying Lock Item": {
        "main": [
          [
            {
              "node": "Create Buying Purchase Receipt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Buying Purchase Receipt": {
        "main": [
          [
            {
              "node": "Submit Buying Purchase Receipt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Submit Buying Purchase Receipt": {
        "main": [
          [
            {
              "node": "Verify Buying Bin After Receipt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Verify Buying Bin After Receipt": {
        "main": [
          [
            {
              "node": "Verify Buying SLE After Receipt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Verify Buying SLE After Receipt": {
        "main": [
          [
            {
              "node": "Get Buying Purchase Receipt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Buying Purchase Receipt": {
        "main": [
          [
            {
              "node": "Build Linked Purchase Invoice Payload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Linked Purchase Invoice Payload": {
        "main": [
          [
            {
              "node": "Create Linked Purchase Invoice",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Linked Purchase Invoice": {
        "main": [
          [
            {
              "node": "Submit Linked Purchase Invoice",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Submit Linked Purchase Invoice": {
        "main": [
          [
            {
              "node": "Try Cancel Invoiced Purchase Receipt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Try Cancel Invoiced Purchase Receipt": {
        "main": [
          [
            {
              "node": "Get Purchase Receipt After Cancel Attempt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Purchase Receipt After Cancel Attempt": {
        "main": [
          [
            {
              "node": "Create E2E Customer",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build E2E Standard Context": {
        "main": [
          [
            {
              "node": "Create Buying Lock Supplier",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create E2E Customer": {
        "main": [
          [
            {
              "node": "Create E2E Sales Invoice",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create E2E Sales Invoice": {
        "main": [
          [
            {
              "node": "Submit E2E Sales Invoice",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Submit E2E Sales Invoice": {
        "main": [
          [
            {
              "node": "Verify E2E Final Bin",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Verify E2E Final Bin": {
        "main": [
          [
            {
              "node": "Verify E2E Sales SLE",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Verify E2E Sales SLE": {
        "main": [
          [
            {
              "node": "Return Safe E2E Standard Summary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Return Safe E2E Standard Summary": {
        "main": [
          []
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate"
    },
    "staticData": null,
    "pinData": {},
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "tags": []
  }
]
