n8n-webhook-erpnext-stock-v2-repack-manufacturing-test.workflow.json
[
  {
    "id": "stockRepackMfgV2Test01",
    "name": "ERPNext Stock V2 Repack Manufacturing Test",
    "active": false,
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "erpnext-stock-v2-repack-manufacturing-test",
          "responseMode": "lastNode",
          "responseData": "allEntries",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [-1700, 0],
        "id": "repack-manufacturing-webhook",
        "name": "POST Webhook",
        "webhookId": "erpnext-stock-v2-repack-manufacturing-test"
      },
      {
        "parameters": {
          "jsCode": "const now = new Date();\nconst today = now.toISOString().slice(0, 10);\nconst runId = `N8N-STOCK-REPACK-${Date.now()}`;\nreturn [{ json: { runId, company: 'Thái Duy Digital', parentWarehouse: 'All Warehouses - TDD', postingDate: today, itemGroup: `${runId} Nhóm sản xuất`, rawWarehouseName: `${runId} Raw WH`, finishedWarehouseName: `${runId} Finished WH`, rawA: `${runId} Nguyên liệu A`, rawB: `${runId} Nguyên liệu B`, finished: `${runId} Thành phẩm đóng gói`, receiptRawA: 5, receiptRawB: 4, consumeRawA: 2, consumeRawB: 1, finishedQty: 1, rawARate: 30, rawBRate: 20, finishedRate: 80 } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [-1480, 0],
        "id": "build-repack-context",
        "name": "Build Repack Context"
      },
      {
        "parameters": {
          "resource": "itemGroup",
          "apiVersion": "v2",
          "operation": "create",
          "dataJson": "={{ JSON.stringify({ item_group_name: $node[\"Build Repack Context\"].json.itemGroup, parent_item_group: \"All Item Groups\", is_group: 0 }) }}"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [-1260, 0],
        "id": "create-repack-item-group",
        "name": "Create Repack Item Group",
        "credentials": { "erpNextApi": { "id": "9hFY985G0WpX5Xyt", "name": "ERPNext account" } }
      },
      {
        "parameters": {
          "resource": "warehouse",
          "apiVersion": "v2",
          "operation": "create",
          "dataJson": "={{ JSON.stringify({ warehouse_name: $node[\"Build Repack Context\"].json.rawWarehouseName, parent_warehouse: $node[\"Build Repack Context\"].json.parentWarehouse, company: $node[\"Build Repack Context\"].json.company, is_group: 0 }) }}"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [-1040, 0],
        "id": "create-repack-raw-warehouse",
        "name": "Create Repack Raw Warehouse",
        "credentials": { "erpNextApi": { "id": "9hFY985G0WpX5Xyt", "name": "ERPNext account" } }
      },
      {
        "parameters": {
          "resource": "warehouse",
          "apiVersion": "v2",
          "operation": "create",
          "dataJson": "={{ JSON.stringify({ warehouse_name: $node[\"Build Repack Context\"].json.finishedWarehouseName, parent_warehouse: $node[\"Build Repack Context\"].json.parentWarehouse, company: $node[\"Build Repack Context\"].json.company, is_group: 0 }) }}"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [-820, 0],
        "id": "create-repack-finished-warehouse",
        "name": "Create Repack Finished Warehouse",
        "credentials": { "erpNextApi": { "id": "9hFY985G0WpX5Xyt", "name": "ERPNext account" } }
      },
      {
        "parameters": {
          "resource": "item",
          "apiVersion": "v2",
          "operation": "create",
          "dataJson": "={{ JSON.stringify({ item_code: $node[\"Build Repack Context\"].json.rawA, item_name: $node[\"Build Repack Context\"].json.rawA, item_group: $node[\"Create Repack Item Group\"].json.name, stock_uom: \"Unit\", is_stock_item: 1, is_purchase_item: 1, is_sales_item: 0, valuation_rate: $node[\"Build Repack Context\"].json.rawARate, standard_rate: $node[\"Build Repack Context\"].json.rawARate }) }}"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [-600, 0],
        "id": "create-repack-raw-a-item",
        "name": "Create Repack Raw A Item",
        "credentials": { "erpNextApi": { "id": "9hFY985G0WpX5Xyt", "name": "ERPNext account" } }
      },
      {
        "parameters": {
          "resource": "item",
          "apiVersion": "v2",
          "operation": "create",
          "dataJson": "={{ JSON.stringify({ item_code: $node[\"Build Repack Context\"].json.rawB, item_name: $node[\"Build Repack Context\"].json.rawB, item_group: $node[\"Create Repack Item Group\"].json.name, stock_uom: \"Unit\", is_stock_item: 1, is_purchase_item: 1, is_sales_item: 0, valuation_rate: $node[\"Build Repack Context\"].json.rawBRate, standard_rate: $node[\"Build Repack Context\"].json.rawBRate }) }}"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [-380, 0],
        "id": "create-repack-raw-b-item",
        "name": "Create Repack Raw B Item",
        "credentials": { "erpNextApi": { "id": "9hFY985G0WpX5Xyt", "name": "ERPNext account" } }
      },
      {
        "parameters": {
          "resource": "item",
          "apiVersion": "v2",
          "operation": "create",
          "dataJson": "={{ JSON.stringify({ item_code: $node[\"Build Repack Context\"].json.finished, item_name: $node[\"Build Repack Context\"].json.finished, item_group: $node[\"Create Repack Item Group\"].json.name, stock_uom: \"Unit\", is_stock_item: 1, is_purchase_item: 0, is_sales_item: 1, valuation_rate: $node[\"Build Repack Context\"].json.finishedRate, standard_rate: $node[\"Build Repack Context\"].json.finishedRate }) }}"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [-160, 0],
        "id": "create-repack-finished-item",
        "name": "Create Repack Finished Item",
        "credentials": { "erpNextApi": { "id": "9hFY985G0WpX5Xyt", "name": "ERPNext account" } }
      },
      {
        "parameters": {
          "resource": "stockEntry",
          "apiVersion": "v2",
          "operation": "create",
          "dataJson": "={{ JSON.stringify({ stock_entry_type: \"Material Receipt\", company: $node[\"Build Repack Context\"].json.company, posting_date: $node[\"Build Repack Context\"].json.postingDate, items: [{ item_code: $node[\"Create Repack Raw A Item\"].json.name, t_warehouse: $node[\"Create Repack Raw Warehouse\"].json.name, qty: $node[\"Build Repack Context\"].json.receiptRawA, basic_rate: $node[\"Build Repack Context\"].json.rawARate }, { item_code: $node[\"Create Repack Raw B Item\"].json.name, t_warehouse: $node[\"Create Repack Raw Warehouse\"].json.name, qty: $node[\"Build Repack Context\"].json.receiptRawB, basic_rate: $node[\"Build Repack Context\"].json.rawBRate }] }) }}"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [60, 0],
        "id": "create-repack-raw-receipt",
        "name": "Create Repack Raw Receipt",
        "credentials": { "erpNextApi": { "id": "9hFY985G0WpX5Xyt", "name": "ERPNext account" } }
      },
      {
        "parameters": {
          "resource": "stockEntry",
          "apiVersion": "v2",
          "operation": "submit",
          "documentName": "={{ $node[\"Create Repack Raw Receipt\"].json.name }}"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [280, 0],
        "id": "submit-repack-raw-receipt",
        "name": "Submit Repack Raw Receipt",
        "credentials": { "erpNextApi": { "id": "9hFY985G0WpX5Xyt", "name": "ERPNext account" } }
      },
      {
        "parameters": {
          "resource": "stockEntry",
          "apiVersion": "v2",
          "operation": "create",
          "dataJson": "={{ JSON.stringify({ stock_entry_type: \"Repack\", company: $node[\"Build Repack Context\"].json.company, posting_date: $node[\"Build Repack Context\"].json.postingDate, from_warehouse: $node[\"Create Repack Raw Warehouse\"].json.name, to_warehouse: $node[\"Create Repack Finished Warehouse\"].json.name, items: [{ item_code: $node[\"Create Repack Raw A Item\"].json.name, s_warehouse: $node[\"Create Repack Raw Warehouse\"].json.name, qty: $node[\"Build Repack Context\"].json.consumeRawA, basic_rate: $node[\"Build Repack Context\"].json.rawARate }, { item_code: $node[\"Create Repack Raw B Item\"].json.name, s_warehouse: $node[\"Create Repack Raw Warehouse\"].json.name, qty: $node[\"Build Repack Context\"].json.consumeRawB, basic_rate: $node[\"Build Repack Context\"].json.rawBRate }, { item_code: $node[\"Create Repack Finished Item\"].json.name, t_warehouse: $node[\"Create Repack Finished Warehouse\"].json.name, qty: $node[\"Build Repack Context\"].json.finishedQty, basic_rate: $node[\"Build Repack Context\"].json.finishedRate, is_finished_item: 1 }] }) }}"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [500, 0],
        "id": "create-repack-stock-entry",
        "name": "Create Repack Stock Entry",
        "credentials": { "erpNextApi": { "id": "9hFY985G0WpX5Xyt", "name": "ERPNext account" } }
      },
      {
        "parameters": {
          "resource": "stockEntry",
          "apiVersion": "v2",
          "operation": "submit",
          "documentName": "={{ $node[\"Create Repack Stock Entry\"].json.name }}"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [720, 0],
        "id": "submit-repack-stock-entry",
        "name": "Submit Repack Stock Entry",
        "credentials": { "erpNextApi": { "id": "9hFY985G0WpX5Xyt", "name": "ERPNext account" } }
      },
      {
        "parameters": {
          "resource": "bin",
          "apiVersion": "v2",
          "operation": "getMany",
          "fields": "name,item_code,warehouse,actual_qty,valuation_rate,stock_value",
          "filtersJson": "={{ JSON.stringify({ item_code: $node[\"Create Repack Raw A Item\"].json.name, warehouse: $node[\"Create Repack Raw Warehouse\"].json.name }) }}",
          "limit": 10
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [940, 0],
        "id": "verify-repack-raw-a-bin",
        "name": "Verify Repack Raw A Bin",
        "credentials": { "erpNextApi": { "id": "9hFY985G0WpX5Xyt", "name": "ERPNext account" } }
      },
      {
        "parameters": {
          "resource": "bin",
          "apiVersion": "v2",
          "operation": "getMany",
          "fields": "name,item_code,warehouse,actual_qty,valuation_rate,stock_value",
          "filtersJson": "={{ JSON.stringify({ item_code: $node[\"Create Repack Raw B Item\"].json.name, warehouse: $node[\"Create Repack Raw Warehouse\"].json.name }) }}",
          "limit": 10
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [1160, 0],
        "id": "verify-repack-raw-b-bin",
        "name": "Verify Repack Raw B Bin",
        "credentials": { "erpNextApi": { "id": "9hFY985G0WpX5Xyt", "name": "ERPNext account" } }
      },
      {
        "parameters": {
          "resource": "bin",
          "apiVersion": "v2",
          "operation": "getMany",
          "fields": "name,item_code,warehouse,actual_qty,valuation_rate,stock_value",
          "filtersJson": "={{ JSON.stringify({ item_code: $node[\"Create Repack Finished Item\"].json.name, warehouse: $node[\"Create Repack Finished Warehouse\"].json.name }) }}",
          "limit": 10
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [1380, 0],
        "id": "verify-repack-finished-bin",
        "name": "Verify Repack Finished Bin",
        "credentials": { "erpNextApi": { "id": "9hFY985G0WpX5Xyt", "name": "ERPNext account" } }
      },
      {
        "parameters": {
          "resource": "stockLedgerEntry",
          "apiVersion": "v2",
          "operation": "getMany",
          "fields": "name,item_code,warehouse,actual_qty,qty_after_transaction,voucher_type,voucher_no,is_cancelled",
          "filtersJson": "={{ JSON.stringify({ voucher_type: \"Stock Entry\", voucher_no: $node[\"Create Repack Stock Entry\"].json.name }) }}",
          "limit": 20,
          "orderBy": "creation asc"
        },
        "type": "n8n-nodes-erpnext-stock.erpNextStock",
        "typeVersion": 1,
        "position": [1600, 0],
        "id": "verify-repack-sle",
        "name": "Verify Repack SLE",
        "credentials": { "erpNextApi": { "id": "9hFY985G0WpX5Xyt", "name": "ERPNext account" } }
      },
      {
        "parameters": {
          "jsCode": "const ctx = $node['Build Repack Context'].json;\nconst rawABin = $('Verify Repack Raw A Bin').all().map(i => i.json);\nconst rawBBin = $('Verify Repack Raw B Bin').all().map(i => i.json);\nconst finishedBin = $('Verify Repack Finished Bin').all().map(i => i.json);\nconst sleRows = $('Verify Repack SLE').all().map(i => i.json);\nconst receipt = $node['Submit Repack Raw Receipt'].json;\nconst repack = $node['Submit Repack Stock Entry'].json;\nconst rawAQty = Number(rawABin[0]?.actual_qty ?? NaN);\nconst rawBQty = Number(rawBBin[0]?.actual_qty ?? NaN);\nconst finishedQty = Number(finishedBin[0]?.actual_qty ?? NaN);\nconst expectedRawA = ctx.receiptRawA - ctx.consumeRawA;\nconst expectedRawB = ctx.receiptRawB - ctx.consumeRawB;\nconst text = JSON.stringify({ rawABin, rawBBin, finishedBin, sleRows, receipt: { name: receipt.name, docstatus: receipt.docstatus }, repack: { name: repack.name, docstatus: repack.docstatus } });\nconst securityFindings = ['api key', 'api_secret', 'authorization', 'token ', 'password'].filter(term => text.toLowerCase().includes(term));\nconst status = Number(receipt.docstatus) === 1 && Number(repack.docstatus) === 1 && rawAQty === expectedRawA && rawBQty === expectedRawB && finishedQty === ctx.finishedQty && sleRows.length >= 3 && securityFindings.length === 0 ? 'passed' : 'failed';\nreturn [{ json: { status, runId: ctx.runId, rawA: $node['Create Repack Raw A Item'].json.name, rawB: $node['Create Repack Raw B Item'].json.name, finishedItem: $node['Create Repack Finished Item'].json.name, rawWarehouse: $node['Create Repack Raw Warehouse'].json.name, finishedWarehouse: $node['Create Repack Finished Warehouse'].json.name, rawReceipt: $node['Create Repack Raw Receipt'].json.name, rawReceiptDocstatus: receipt.docstatus, repackStockEntry: $node['Create Repack Stock Entry'].json.name, repackDocstatus: repack.docstatus, rawAQtyAfterRepack: rawAQty, rawBQtyAfterRepack: rawBQty, finishedQtyAfterRepack: finishedQty, expectedRawAQty: expectedRawA, expectedRawBQty: expectedRawB, repackLedgerRows: sleRows.length, repackLedgerActualQty: sleRows.map(row => ({ item_code: row.item_code, warehouse: row.warehouse, actual_qty: row.actual_qty, qty_after_transaction: row.qty_after_transaction })), securityFindings } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [1820, 0],
        "id": "return-safe-repack-summary",
        "name": "Return Safe Repack Summary"
      }
    ],
    "connections": {
      "POST Webhook": { "main": [[{ "node": "Build Repack Context", "type": "main", "index": 0 }]] },
      "Build Repack Context": { "main": [[{ "node": "Create Repack Item Group", "type": "main", "index": 0 }]] },
      "Create Repack Item Group": { "main": [[{ "node": "Create Repack Raw Warehouse", "type": "main", "index": 0 }]] },
      "Create Repack Raw Warehouse": { "main": [[{ "node": "Create Repack Finished Warehouse", "type": "main", "index": 0 }]] },
      "Create Repack Finished Warehouse": { "main": [[{ "node": "Create Repack Raw A Item", "type": "main", "index": 0 }]] },
      "Create Repack Raw A Item": { "main": [[{ "node": "Create Repack Raw B Item", "type": "main", "index": 0 }]] },
      "Create Repack Raw B Item": { "main": [[{ "node": "Create Repack Finished Item", "type": "main", "index": 0 }]] },
      "Create Repack Finished Item": { "main": [[{ "node": "Create Repack Raw Receipt", "type": "main", "index": 0 }]] },
      "Create Repack Raw Receipt": { "main": [[{ "node": "Submit Repack Raw Receipt", "type": "main", "index": 0 }]] },
      "Submit Repack Raw Receipt": { "main": [[{ "node": "Create Repack Stock Entry", "type": "main", "index": 0 }]] },
      "Create Repack Stock Entry": { "main": [[{ "node": "Submit Repack Stock Entry", "type": "main", "index": 0 }]] },
      "Submit Repack Stock Entry": { "main": [[{ "node": "Verify Repack Raw A Bin", "type": "main", "index": 0 }]] },
      "Verify Repack Raw A Bin": { "main": [[{ "node": "Verify Repack Raw B Bin", "type": "main", "index": 0 }]] },
      "Verify Repack Raw B Bin": { "main": [[{ "node": "Verify Repack Finished Bin", "type": "main", "index": 0 }]] },
      "Verify Repack Finished Bin": { "main": [[{ "node": "Verify Repack SLE", "type": "main", "index": 0 }]] },
      "Verify Repack SLE": { "main": [[{ "node": "Return Safe Repack Summary", "type": "main", "index": 0 }]] },
      "Return Safe Repack Summary": { "main": [[]] }
    },
    "settings": { "executionOrder": "v1", "binaryMode": "separate" },
    "staticData": null,
    "pinData": {},
    "meta": { "templateCredsSetupCompleted": true },
    "tags": []
  }
]
